.button, button, input[type="submit"], input[type="button"] {
	display: inline-block;
	padding: 5px 4px;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-shadow: 1px 1px 0 #fff;
	white-space: nowrap;
	overflow: visible;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	margin: 0 2px 2px 0;
	outline: none;
	position: relative;
	zoom: 1;
	line-height: 1.11;
	background: #ececec;
	background: linear-gradient(#f4f4f4, #ececec) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ececec'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #f4f4f4, #ececec); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #f4f4f4,  #ececec); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #f4f4f4,  #ececec); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f4f4,  #ececec); /* для IE10+ */	
	*display: inline;
	*vertical-align: middle; }
 
button, input[type="submit"], input[type="button"] {
	margin-left: 0;
	margin-right: 0;
	*padding: 5px 5px 3px 5px; }
 
.button {
	-moz-user-select: none;
}
 
button::-moz-focus-inner {
	border: 0;
	padding: 0px; }
 
.button.special, button.special, .valid input[type="submit"] { font-weight: bold; }
 
.button:hover, button:focus, input[type="submit"]:hover, input[type="button"]:hover, button:hover {
	color: #FFFFFF;
	border-color: #388AD4;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	background: #3072b3;
	background: linear-gradient(#599bdc, #3072b3) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc', endColorstr='#3072b3'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #599bdc, #3072b3); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #599bdc,  #3072b3); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #599bdc,  #3072b3); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #599bdc,  #3072b3); /* для IE10+ */
	 }
 
.button:active, button:active, input[type="submit"]:active, input[type="button"]:active, .button.active, button.active, .valid input[type="submit"] {
	border-color: #347BBA;
	color: #FFFFFF;
	text-shadow: none;
	background: #3072b3;
	background: linear-gradient(#599bdc, #3072b3) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc', endColorstr='#3072b3'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #599bdc, #3072b3); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #599bdc,  #3072b3); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #599bdc,  #3072b3); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #599bdc,  #3072b3); /* для IE10+ */
}
 
.button:active, button:active { top: 1px }
 
.button.negative:hover, button.negative:hover {
	color: #FFFFFF;
	border-bottom-color: #cd504a;
	background: #b33630;
	background: linear-gradient(#dc5f59, #b33630) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc5f59', endColorstr='#b33630'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #dc5f59, #b33630); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #dc5f59,  #b33630); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #dc5f59,  #b33630); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dc5f59,  #b33630); /* для IE10+ */
	
}
 
.button.negative:active, button.negative:active, .button.negative.active, button.negative.active {
	border-bottom-color: #dc5f59;	
	background: #dc5f59;
	background: linear-gradient(#b33630, #dc5f59) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b33630', endColorstr='#dc5f59'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #b33630, #dc5f59); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #b33630,  #dc5f59); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #b33630,  #dc5f59); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b33630,  #dc5f59); /* для IE10+ */
}
 
.button.positive:hover, button.positive:hover, .valid input[type="submit"]:hover, .button.special:hover, button.special:hover {
	color: #FFFFFF;
	border-color: #4A99E3;
	background: #4c8b36;
	background: linear-gradient(#69d344, #4c8b36) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69d344', endColorstr='#4c8b36'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #69d344, #4c8b36); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #69d344,  #4c8b36); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #69d344,  #4c8b36); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #69d344,  #4c8b36); /* для IE10+ */	
 }
 
.button.positive:active, button.positive:active, .button.positive.active, button.positive.active, .valid input[type="submit"]   {
	border-color: #74BB5A #74BB5A #509338;
	background: #60B044;
	background: linear-gradient(#8ADD6D, #60B044) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ADD6D', endColorstr='#60B044'); /* для IE6-9 */
	background: -webkit-linear-gradient(top, bottom, #8ADD6D, #60B044); /* для webkit-браузеров */
	background: -moz-linear-gradient(top,  #8ADD6D,  #60B044); /* для firefox 3.6+ */
	background: -o-linear-gradient(top,  #8ADD6D,  #60B044); /* для Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8ADD6D,  #60B044); /* для IE10+ */	
}
 
.button.pill, button.pill {
	border-radius: 19px;
	padding: 5px 10px 4px 10px;
	*padding: 4px 10px; }
 
.button.left, button.left {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	margin-right: 0px;
	border-right: none; }
 
.button.middle, button.middle {
	margin-right: 0px;
	margin-left: 0px;
	border-radius: 0px;
	border-right: none; }
 
.button.right, button.right {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0px; }
 
.button.left:active, button.left:active, .button.middle:active, button.middle:active, .button.right:active, button.right:active { top: 0px }
 
.button.large, button.large, .valid input[type="submit"] {
	font-size: 14px;
	padding-left: 14px;
	padding-right: 17px; 
	margin: 2px 7px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
 
button.large { *padding: 4px 17px 2px 17px; }
 
.button span.icon, button span.icon {
	display: inline-block;
	width: 14px;
	height: 12px;
	margin: auto 3px auto 0px;
	position: relative;
	top: 0;
	background-image: url('../img/buttons_icons.png');
	background-repeat: no-repeat; }
 
a.big.button span.icon, button.big span.icon { top: 0px }
 
.button span.icon.book, button span.icon.book { background-position: 0 0 }
.button:hover span.icon.book, button:hover span.icon.book { background-position: 0 -15px }
.button span.icon.calendar, button span.icon.calendar { background-position: 0 -30px }
.button:hover span.icon.calendar, button:hover span.icon.calendar { background-position: 0 -45px }
.button span.icon.chat, button span.icon.chat { background-position: 0 -60px }
.button:hover span.icon.chat, button:hover span.icon.chat { background-position: 0 -75px }
.button span.icon.check, button span.icon.check { background-position: 0 -90px }
.button:hover span.icon.check, button:hover span.icon.check { background-position: 0 -103px }
.button span.icon.clock, button span.icon.clock { background-position: 0 -116px }
.button:hover span.icon.clock, button:hover span.icon.clock { background-position: 0 -131px }
.button span.icon.cog, button span.icon.cog { background-position: 0 -146px }
.button:hover span.icon.cog, button:hover span.icon.cog { background-position: 0 -161px }
.button span.icon.comment, button span.icon.comment { background-position: 0 -176px }
.button:hover span.icon.comment, button:hover span.icon.comment { background-position: 0 -190px }
.button span.icon.cross, button span.icon.cross { background-position: 0 -204px }
.button:hover span.icon.cross, button:hover span.icon.cross { background-position: 0 -219px }
.button span.icon.downarrow, button span.icon.downarrow { background-position: 0 -234px }
.button:hover span.icon.downarrow, button:hover span.icon.downarrow { background-position: 0 -249px }
.button span.icon.fork, button span.icon.fork { background-position: 0 -264px }
.button:hover span.icon.fork, button:hover span.icon.fork { background-position: 0 -279px }
.button span.icon.heart, button span.icon.heart { background-position: 0 -294px }
.button:hover span.icon.heart, button:hover span.icon.heart { background-position: 0 -308px }
.button span.icon.home, button span.icon.home { background-position: 0 -322px }
.button:hover span.icon.home, button:hover span.icon.home { background-position: 0 -337px }
.button span.icon.key, button span.icon.key { background-position: 0 -352px }
.button:hover span.icon.key, button:hover span.icon.key { background-position: 0 -367px }
.button span.icon.leftarrow, button span.icon.leftarrow { background-position: 0 -382px }
.button:hover span.icon.leftarrow, button:hover span.icon.leftarrow { background-position: 0 -397px }
.button span.icon.lock, button span.icon.lock { background-position: 0 -412px }
.button:hover span.icon.lock, button:hover span.icon.lock { background-position: 0 -427px }
.button span.icon.loop, button span.icon.loop { background-position: 0 -442px }
.button:hover span.icon.loop, button:hover span.icon.loop { background-position: 0 -457px }
.button span.icon.magnifier, button span.icon.magnifier { background-position: 0 -472px }
.button:hover span.icon.magnifier, button:hover span.icon.magnifier { background-position: 0 -487px }
.button span.icon.mail, button span.icon.mail { background-position: 0 -502px }
.button:hover span.icon.mail, button:hover span.icon.mail { background-position: 0 -514px }
.button span.icon.move, button span.icon.move { background-position: 0 -526px }
.button:hover span.icon.move, button:hover span.icon.move { background-position: 0 -541px }
.button span.icon.pen, button span.icon.pen { background-position: 0 -556px }
.button:hover span.icon.pen, button:hover span.icon.pen { background-position: 0 -571px }
.button span.icon.pin, button span.icon.pin { background-position: 0 -586px }
.button:hover span.icon.pin, button:hover span.icon.pin { background-position: 0 -601px }
.button span.icon.plus, button span.icon.plus { background-position: 0 -616px }
.button:hover span.icon.plus, button:hover span.icon.plus { background-position: 0 -631px }
.button span.icon.reload, button span.icon.reload { background-position: 0 -646px }
.button:hover span.icon.reload, button:hover span.icon.reload { background-position: 0 -660px }
.button span.icon.rightarrow, button span.icon.rightarrow { background-position: 0 -674px }
.button:hover span.icon.rightarrow, button:hover span.icon.rightarrow { background-position: 0 -689px }
.button span.icon.rss, button span.icon.rss { background-position: 0 -704px }
.button:hover span.icon.rss, button:hover span.icon.rss { background-position: 0 -719px }
.button span.icon.tag, button span.icon.tag { background-position: 0 -734px }
.button:hover span.icon.tag, button:hover span.icon.tag { background-position: 0 -749px }
.button span.icon.trash, button span.icon.trash { background-position: 0 -764px }
.button:hover span.icon.trash, button:hover span.icon.trash { background-position: 0 -779px }
.button span.icon.unlock, button span.icon.unlock { background-position: 0 -794px }
.button:hover span.icon.unlock, button:hover span.icon.unlock { background-position: 0 -809px }
.button span.icon.uparrow, button span.icon.uparrow { background-position: 0 -824px }
.button:hover span.icon.uparrow, button:hover span.icon.uparrow { background-position: 0 -839px }
.button span.icon.user, button span.icon.user { background-position: 0 -854px }
.button:hover span.icon.user, button:hover span.icon.user { background-position: 0 -869px }


input[type="text"], textarea, select {
	display: inline-block;
	padding: 5px 3px;
	font-size: 12px;
	color: #3C3C3D;
	text-shadow: 1px 1px 0 #FFFFFF;
	background: #fff;
	white-space: nowrap;
	text-decoration: none;
	border: 1px solid #CACACA;
	border-radius: 3px;
	outline: none;
	position: relative;
	zoom: 1;
	line-height: 1.11;
	*display: inline;
	*vertical-align: middle;
}
select {
	min-width: 100px;
}
#saveconfig input[type=text], #saveconfig textarea {
	width: 98%;
}