/* ============== Overall ============== */

html
	{
	padding:0;
	}

body
	{
	font:12px Verdana, Arial, sans-serif;
	background-color:#E4E4E4;
	margin:12px;
	padding:0;
	color:#000000;
	}

a 			{ text-decoration:none; border-width:0; color:#933d68; }
a:hover 	{ text-decoration:underline; }

h1 	{ font-size:250%; letter-spacing: -2px; font-weight:normal;}
h2 	{ font-size:170%; letter-spacing: -2px; font-weight:normal; }
h3 	{ font-size:140%; margin:1em 1em 1em 0; letter-spacing: -1px; font-weight:normal; }
h4 	{ font-size:100%; font-weight:bold; margin:1.5em 1em 1em 0; }
h5 	{ font-size:95%; margin:1em 1em 1em 0; }
h6 	{ font-size:90%; margin:1em 1em 1em 0; }

.bbstyle1	{ font-size:160%; font-weight:bold; }
.bbstyle2	{ font-size:130%; font-weight:bold; }
.bbstyle3	{ font-size:120%; font-weight:bold; }
.bbstyle4	{ font-size:110%; font-weight:bold; }
.bbstyle5	{  }
.bbstyle6	{  }
.bbstyle7	{  }
.bbstyle8	{  }
.bbstyle9	{  }

#container
	{
	padding:0;
	margin:0;
	width:880px;
	background-color:#FFFFFF;
	border-right:1px dashed #A5A5A5;
	border-left:1px dashed #A5A5A5;
	}

#header
	{
	padding:0;
	margin:0;
	height:96px;
	}

#nav
	{
	font-size:110%;
	margin:0;
	padding:0px;
	background-color:#000000;
	font-weight:bold;
	color:#CCCCCC;
	background-image:url('img/menu.gif');
	height:22px;
	border:1px solid #000000;
   	}

#nav a
	{
	color:#CCCCCC;
   	}

#nav a:hover
	{
	text-decoration:none;
	}

#nav ul
	{
    padding:2px;
    margin:0;
	}

#nav li
	{
	display:inline;
	list-style:none;
	padding:2px 6px 2px 6px;
	margin:0;
	}

#user
	{
	margin:0;
	padding:3px;
	color:#888888;
	text-align:right;
	font-size:95%;
	background-color:#262626;
	}

#user ul
	{
	padding:2px;
	margin:0;
	}

#user li
	{
	display:inline;
	list-style:none;
	margin:0;
	padding:3px;
	}

#title
	{
	padding:8px 16px 8px 16px;
	margin:0;
	font-size:160%;
	letter-spacing: -2px;
	background-color:#E4E4E4;
	border-bottom:1px solid #DEDEDE;
	}

#subtitle
	{
	padding:4px 20px 4px 20px;
	margin:0;
	vertical-align:top;
	background-color:#F1F1F1;
	border-bottom:1px solid #ECECEC;
	}

#adminmenu
	{
	margin:0 20px 2px 20px;
	}

#main
	{
	margin:16px;;
	vertical-align:top;
	}

#side
	{
	border:4px solid #FFFFFF;
	background-color:#F5F5F5;
	padding:8px;
	font-size:90%;
	}

#footer
	{
	clear:both;
	padding:8px;
	margin:0;
	font:80% Verdana, Arial, sans-serif;
	color:#888888;
	text-align:center;
	}

/* ============== Various ============== */

.disp		{ padding:12px; margin:0; }
.block		{ padding:8px; margin:12px; background-color: #F0F0F0; }
.block h4	{ margin-top:0; }
.error		{ padding:24px 8px 24px 8px; margin:0; color:#82951b; font-weight:bold; font-size:110%; text-align:center; }
.codetitle	{ font-size:10px; color:#59739B; padding:2px; margin-top:5px; }
.code 		{ font-size:11px; color:#59739B; background-color:#EFF0C2; padding:2px; margin-bottom:5px; font-family:monospace; }
.valid 		{ height:48px; text-align:center; vertical-align:middle; }
.download 	{ font-size:110%; text-align:center; background-color: #E8E8E8; padding:16px; margin-top:16px; }
.paging		{ text-align:center; padding:6px; font-size:90%; width:100%; }
.paging_left	{ text-align:left; padding:4px; width:25%; }
.paging_center	{ text-align:center; padding:4px; width:50%; }
.paging_right	{ text-align:right; padding:4px; width:25%; }
.coltop		{ text-align:center; font-size:95%;  background-color:#D9D9D9!important; color:#707070; }
.centerall 	{ text-align:center; vertical-align:middle; }
.desc 		{ font-size:95%; padding:3px; color:#646464; }
.spoiler	{ padding:8px; margin:8px; border:1px dashed #CCCCCC; background-color:#DBE5E9; }

.odd		{ background-color:#E8E8E8!important; }
.even		{ background-color:#F2F2F2!important; }
li 			{ margin:2px; }

img			{ border-width:0; }
ul 			{ list-style-type:square; }
form		{ margin:0; }
.colleft	{ float:left; margin:0px 4px 0px 4px; }
.colright	{ float:right; margin:0px 4px 0px 4px; }
.bar_front 	{ background-color:#D696B6; border-right:0px solid #333333; padding:0; color:#DDDDDD; height:8px; }
.bar_back 	{ background-color:#EBECF1; border:1px solid #333333; margin:0 7px 0 7px; height:8px; }
.bbcodes a img { border:1px outset #A0A0A0; background-color:#999BAC; }
.smilies a img { border:0; background-color:transparent; }
.today		{ border:1px dashed #DDAA00; }
.signature 		{ color:#979797; font-size:80%; max-height:96px; overflow:auto; }
.signature a	{ color:#000000; }

/* ============== Tables ============== */

table td 		{ vertical-align:top; }
table.flat		{ width:99%; margin:0; padding:0; border-collapse:collapse; }
table.flat td 	{ padding:0; margin:0}
table.main 		{ width:99%; margin:0; padding:4px; }
table.main td 	{ padding:4px; }
table.cells 	{ width:99%; margin:0; padding:0; border:4px solid #FFFFFF; }
table.cells td	{ padding:5px; background-color:#E8E8E8; margin:0; }
table.list 		{ width:99%; margin:0; padding:5px; }
table.list td 	{ padding:12px; }









