/* 1. Elements
-------------------------------------------------- */

*	{ margin:0; padding:0; }
html	{ padding:0; }

body	{ font:normal 76%/1.8em Tahoma; background:url(img/body.png) repeat-x 0 60px; }

ul 			{ list-style-type:none; }
ol			{ list-style-position:outside; margin-bottom:5px; padding-left:20px; }
ul.follow li	{ margin:0 15px; padding-left:16px; background:url(img/follow.png) no-repeat 0 6px; }
ul.follow img	{ vertical-align:-3px; }

a			{ color:#172973; text-decoration:none; }
a:hover		{ text-decoration:underline; }
a img		{ border:0; }

hr		{ margin:4px 0 1px; border: 1px solid; border-color:#ddd transparent transparent transparent; }
* html hr	{ margin:4px 0 1px; border: 1px solid #ddd; }

/* 2. Structure
-------------------------------------------------- */

#container	{ font-size:.9em; width:825px; margin:0 auto; }
#user		{ text-align:right; padding:30px 50px 0; height:30px; background:url(img/user.png) no-repeat 0 0; position:relative; }
#user a		{ font-weight:bold; }
#user li#hi	{ position:absolute; top:30px; left:50px; }
#main		{ padding:0 30px; }
#center		{ width:500px; margin-right:35px;  }
#side		{ width:230px; }
.column		{ position:relative; float:left; }
.block		{ margin-bottom:10px; }
#footer		{ font-size:.9em; text-align:center; padding:15px; height:50px; background:url(img/footer.png) repeat-x 0 0; }
#footer a	{ color:#d3dde7; font-weight:bold; }
#footer ul li	{ display:inline; margin:0 5px; }

/* 3. Headings
-------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight:normal; font-size:1em; margin:0; padding:0; position:relative; }
h1		{ color:#036; padding:8px 0 0 50px; height:52px; background:url(img/crumbs.png) no-repeat 0 0; }
h1 a		{ font-weight:bold; padding:0 10px; }
h2		{ font:normal 2em "Times New Roman"; margin:10px 0; padding-bottom:2px; border-bottom:1px solid; }
h3		{ color:#4f789f; font:normal 1.6em "Times New Roman"; margin:5px 0; }
h4		{ font-weight:bold; }

/* 4. Misc
-------------------------------------------------- */

.small	{ font-size:.9em; line-height:1.4em; }
.clear	{ clear:both; }
.strong	{ font-weight:bold; }

.textleft		{ text-align:left; }
.textcenter		{ text-align:center; }
.textright		{ text-align:right; }
.textjustify	{ text-align:justify; }

.error			{ color:#444; margin:20px 0; padding:10px 20px 10px 60px; background:#f9e4e3 url(img/error.png) no-repeat 15px 15px; border:1px solid #e89e9d; }
.error p			{ line-height:1.6em; }

.help			{ color:#444; margin:20px 0; padding:10px 20px 10px 60px; background:#cdfcd2 url(img/help.png) no-repeat 15px 15px; border:1px solid #60a400; }
.help p			{ line-height:1.6em; }
.help img		{ vertical-align:-3px; }

.warning		{ color:#444; margin:20px 0; padding:10px 20px 10px 60px; background:#fdf0cd url(img/warning.png) no-repeat 15px 15px; border:1px solid #ecc635; }
.warning p		{ line-height:1.6em; }

/* 5. Admin Menu
-------------------------------------------------- */

#adminmenu		{ height:160px; padding:15px 40px; background:url(img/adminmenu.png) no-repeat 0 0; }
#adminmenu li		{ margin-right:5px; width:120px; float:left; }
li#am06, li#am12	{ margin:0!important; }
#adminmenu li a, #adminmenu li span	{ text-align:center; padding-top:54px; display:block; height:26px; background-repeat:no-repeat; background-position:0 -80px; }
#adminmenu li span	{ color:#999; background-position:0 0; }
#adminmenu li a	{ background-position:0 -80px; }
#adminmenu li a:hover, #adminmenu li a.sel	{ font-weight:bold; text-decoration:none; background-position:0 -160px; }
#am01 a, #am01 span	{ background-image:url(img/adminmenu/home.png); }
#am02 a, #am02 span	{ background-image:url(img/adminmenu/config.png); }
#am03 a, #am03 span	{ background-image:url(img/adminmenu/pages.png); }
#am04 a, #am04 span	{ background-image:url(img/adminmenu/folder.png); }
#am05 a, #am05 span	{ background-image:url(img/adminmenu/users.png); }
#am06 a, #am06 span	{ background-image:url(img/adminmenu/forums.png); }
#am07 a, #am07 span	{ background-image:url(img/adminmenu/plugins.png); }
#am08 a, #am08 span	{ background-image:url(img/adminmenu/tools.png); }
#am09 a, #am09 span	{ background-image:url(img/adminmenu/trash.png); }
#am10 a, #am10 span	{ background-image:url(img/adminmenu/folder.png); }
#am11 a, #am11 span	{ background-image:url(img/adminmenu/info.png); }
#am12 a, #am12 span	{ background-image:url(img/adminmenu/logout.png); }


/* 6. Tables
-------------------------------------------------- */

table td 	{ vertical-align:top; }

table.cells 	{ border-collapse:collapse; width:100%; }
table.cells td	{ padding:4px 8px; border:1px solid #a4b6c8; }

table.flat 	{ border-collapse:collapse; width:100%; }
table.flat td	{ padding:0; border:0; }

.action a	{ margin:0 2px; }
.coltop		{ text-align:center; line-height:1.4em; vertical-align:middle; font-size:.9em; background-color:#4f789f!important; color:#fff; }
.coltop img	{ vertical-align:middle; }
.centerall 	{ text-align:center; vertical-align:middle; }
.valid 		{ height:48px; text-align:center; vertical-align:middle; border:0!important; }

/* 7. Polls
-------------------------------------------------- */

.bar_front 	{ background-color:#ffae00; border-right:0px solid #333; color:#ddd; height:8px; font-size:1px; }
.bar_back 	{ background-color:#fff; border:1px solid #333; height:8px; }

/* 8. Forms
-------------------------------------------------- */

form					{ }
input, select, textarea	{ font:normal 1em Tahoma; }
input, select			{ padding:2px; }

/* 9. Pagination
-------------------------------------------------- */

.paging		{ margin:10px 0 20px 0; text-align:center; font-size:.9em; }
.paging img	{ vertical-align:-3px; }
.paging span.a1	{ border:1px dashed #7f7772; padding:2px 8px; margin:1px; }
.paging span.a1 a	{  }

.pagenav_prev, .pagenav_next, .pagenav_first, .pagenav_last, .pagenav_pages, .pagenav_current { padding:2px 6px; margin:1px; border:1px dashed #7f7772; }
.pagenav_prev a, .pagenav_next a, .pagenav_first a, .pagenav_last a, .pagenav_pages a	{ color:#555; }
.pagenav_current	{ font-weight:bold; color:#fff; background:none!important; border:none!important; }
.pagenav_current a	{ color:#555; }
.pagenav_small		{ text-align:right; font-size:.9em; }

.spaced				{ margin:0 8px; }