@import url('fb-buttons.css');

/* 1. Elements
-------------------------------------------------- */

body						{ font-family: 'Helvetica', sans-serif; font-size: .9375rem; position: relative; }
	body:before		{ content: ''; height: 134px; background: #a4b6c8; border-top: 1px solid #fff; border-bottom: 1px solid #fff; display: block; position: absolute; top: 24px; right: 0; left: 0; }
	body:after		{ content: ''; height: 148px; background: #4f789f; display: block; position: absolute; top: 18px; right: 0; left: 0; z-index: -1; }


ul 			{ list-style-type:none; }
ol			{ list-style-position:outside; margin-bottom:5px; padding-left:20px; }
ul.follow li	{ padding-left:25px; }
ul.follow img	{ vertical-align:-3px; }

a			{ color:#172973; text-decoration:none; }
a:hover		{ text-decoration:underline; }
a img		{ border:0; }

hr		{ margin:4px 0 1px; border:1px solid; border-color:#ddd transparent transparent transparent; }
* html hr	{ margin:4px 0 1px; border:1px solid #ddd; }

ul    { padding-left: 0; margin: 0; }
p     { margin: 0; }

/* 2. Structure
-------------------------------------------------- */

.body						{ width: 960px; margin: 0 auto; position: relative; }

div#user													{ margin-bottom: 1rem; padding: 0 1px 1px 1px; background: rgb(153,153,153); background: linear-gradient(0deg, rgba(153,153,153,1) 0%, rgba(255,255,255,0) 100%); border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; }
	div#user > ul										{ background: #fff; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; overflow: hidden; }
	div#user > ul > li							{ font-size: .875rem; line-height: 2rem; padding: 0 1rem; float: left; }
	div#user > ul > li:last-child		{ text-align: right; float: none; overflow: hidden; }

#nav														{ margin-bottom: 1rem; }
	#nav > li											{ width: 16.6666%; padding: 0 1rem; float: left; }
	#nav > li > a									{ color: #3b3b3b; text-align: center; padding: .25rem; background: #fff; border: 1px solid; border-radius: 6px; box-shadow: 0 0 8px #888; display: block; opacity: .5; }
	#nav > li > a:hover						{ text-decoration: none; opacity: .85; }
	#nav > li > a.sel							{ opacity: 1; }
	#nav > li > a > figure				{ margin: 0; padding: .625rem 0; }
	#nav > li > a > figure > img	{ height: auto; max-width: 100%; }
	#nav > li > a > span					{ font-size: .75rem; padding: .125rem 0; background: #ddd; border-radius: 4px; display: block; }

#breadcrumbs					{ margin: 0 0 .5rem; padding: 1px 1px 0;  background: rgb(153,153,153); background: linear-gradient(180deg, rgba(153,153,153,1) 0%, rgba(255,255,255,0) 100%); border-top-right-radius: 6px; border-top-left-radius: 6px; }
	#breadcrumbs > div	{ line-height: 2rem; padding: 0 1rem; background: #fff; border-top-right-radius: 6px; border-top-left-radius: 6px; }
	#breadcrumbs a			{ font-weight:bold; }

#main				{ padding: 0 1rem; }

#footer					{ padding: 2rem 0; background: #4f789f; }
	#footer p			{ text-align: center; margin: 0; }
	#footer p > a	{ color: #fff; }

.block		{ margin:0 10px 25px; }

.col, .col4-1, .col4-2, .col4-3, .col3-1, .col3-2, .col2-1		{ float:left; }

.col		{ width:100%; }
.col4-1		{ width:25%; /* width:25%; */ }
.col4-2		{ width:50%; /* width:50%; */ }
.col4-3		{ width:75%; /* width:75%; */ }
.col3-1		{ width:35%; /* width:33%; */ }
.col3-2		{ width:65%; /* width:67%; */ }
.col2-1		{ width:50%; /* width:50%; */ }

.col.first, .col4-1.first, .col4-2.first, .col4-3.first, .col3-1.first, .col3-2.first, .col2-1.first	{ margin-left:0; clear:left; }

/* 3. Headings
-------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight:normal; font-size:1em; margin:0; padding:0; position:relative; }
h1		{ color:#036; margin:0 auto; padding:8px 45px 0; height:52px; width:870px!important; }
h1 a		{ font-weight:bold; padding:0 10px; }
h2		{ font:normal 2em "lucida grande",tahoma,verdana,arial,sans-serif; margin:10px; padding-bottom:2px; border-bottom:1px solid; }
/*h3		{ color:#4f789f; font:normal 1.6em "Times New Roman"; margin:5px 0; }*/
h3 {  padding: 0 6px; border-top: 1px solid #ccc; background: #f2f2f2; margin-top: 15px;}
h4		{ font-weight:bold; }

/* 4. Misc
-------------------------------------------------- */
/*.odd	{ background-color:#fff!important; }
.even	{ background-color:#f1f1f1!important; }
*/
.small		{ font-size:.9em; line-height:1.4em; }
.clear		{ clear:both; }
.strong		{ font-weight:bold; }
.lhn		{ line-height:normal!important; }
.leftindent	{ text-indent:1em; }

.lower		{ text-transform:lowercase; }
.upper		{ text-transform:uppercase; }
.capital	{ text-transform:capitalize; }

.large		{ font-size:1.1em; }

.textleft		{ text-align:left; }
.textcenter		{ text-align:center; }
.textright		{ text-align:right; }
.textjustify	{ text-align:justify; }

div.error, div.warning, div.done, div.help		{ line-height:1.8em; margin:20px 0; padding:10px 50px; background-position:15px 50%; background-repeat:no-repeat; clear:both; }
div.error				{ color:#d8000c; background-color:#ffebe8; background-image:url('/images/icons/default/tpl/error.png'); border:1px solid #dd3c10; }
div.warning			{ color:#9f6000; background-color:#fff9d7; background-image:url('/images/icons/default/tpl/warning.png'); border:1px solid #e2c822; }
div.done				{ color:#4f8a10; background-color:#eceff6; background-image:url('/images/icons/default/tpl/done.png'); border:1px solid #d4dae8; }
div.help		  	{ color:#000; background-color:#f2f2f2; background-image:url('/images/icons/default/tpl/help.png'); border:1px solid #ccc; }

.highlight_green { color:#205000; background-color:#befea8; }
.highlight_red { color:#d8000c; background-color:#feebe8; }

.margintop10	{ margin-top:10px; }
.marginright10	{ margin-right:10px; }
.marginbottom10	{ margin-bottom:10px; }
.marginleft10	{ margin-left:10px; }
.margin10		{ margin:10px!important; }
.margin0		{ margin:0!important; }

.paddingtop10	{ padding-top:10px; }
.paddingright10	{ padding-right:10px; }
.paddingbottom10{ padding-bottom:10px; }
.paddingleft10	{ padding-left:10px; }
.padding10		{ padding:10px!important; }
.padding0		{ padding:0!important; }

.border0		{ border:0!important; }

.width5		{ width:5%; }
.width10	{ width:10%; }
.width15	{ width:15%; }
.width20	{ width:20%; }
.width25	{ width:25%; }
.width30	{ width:30%; }
.width35	{ width:35%; }
.width40	{ width:40%; }
.width45	{ width:45%; }
.width50	{ width:50%; }
.width55	{ width:55%; }
.width60	{ width:60%; }
.width65	{ width:65%; }
.width70	{ width:70%; }
.width75	{ width:75%; }
.width80	{ width:80%; }
.width85	{ width:85%; }
.width90	{ width:90%; }
.width95	{ width:95%; }
.width100	{ width:100%; }

.extension.missing		{ color:#ac5866; }
.extension.notinstalled	{ color:#ac5866; }
.extension.partrunning	{ color:#a78731; }
.extension.paused		{ color:#5882ac; }
.extension.present		{ color:#739e48; }
.extension.running		{ color:#739e48; }

/* 5. Admin Menu
-------------------------------------------------- */

a.thumbicons {
  float: left;
  width:211px;
  text-align: left;
  padding: 10px;
  margin: 2px 2px 5px 2px;
  height: 30px;
  }
a.thumbicons img {
   float: left;
   padding-right: 10px;
   }

a.thumbicons:hover {background: #EDEFF4;}

/* 6. Tables
-------------------------------------------------- */

table td 	{ vertical-align:top; }

table.cells 	{ border-collapse:collapse; width:100%; }
table.cells td	{ padding:7px 5px; border:1px solid #ccc; }
table.cells tr:hover td {background: #EDEFF4;}

table.cells.info tr:hover td.coltop {background: #EDEFF4!important;}
table.cells.info tr:hover td {background: #fff!important;}
table.cells tr:hover td.valid {background: #fff!important;}
table.flat 	{ border-collapse:collapse; width:100%; }
table.flat td	{ padding:0; border:0; }

.action a	{ margin:2px;}
.coltop		{ text-align:center; line-height:1.4em; vertical-align:middle; font-size:.9em; background-color:#EDEFF4!important; color:#000;}
.coltop img	{ vertical-align:middle; }
.centerall 	{ text-align:center; vertical-align:middle; }
/*.valid 		{ height:5em; text-align:center; vertical-align:middle; border:0!important; }*/

td.group_begin	{ color:#4f789f; border:none!important; }
td.group_end		{ font-size:0; padding:0!important; border:none!important; }

/* 7. Polls
-------------------------------------------------- */

.bar_front 	{ background-color:#ffae00; border-right:0px solid #333; color:#ddd; height:8px; font-size:1px; }
.bar_back 	{ background-color:#fff; border:1px solid #333; height:8px; }

/* 8. Forms
-------------------------------------------------- */

form							{ }
input, select, textarea/*, button*/	{ font:normal 1em Georgia; }
input, select/*, button*/		{ padding:2px; }

#saveconfig input[type=text], #saveconfig textarea { width:98%; }

/* 9. Pagination
-------------------------------------------------- */

.paging			{ margin:10px 0 20px 0; text-align:center; font-size:.9em; }
.paging img		{ vertical-align:-3px; }
.paging span		{ border:1px dashed #7f7772; padding:2px 8px; margin:1px; }

.pagenav_prev, .pagenav_next, .pagenav_first, .pagenav_last, .pagenav_pages, .pagenav_current { padding:2px 6px; margin:1px; border:1px dashed #7f7772; }
.pagenav_prev a, .pagenav_next a, .pagenav_first a, .pagenav_last a, .pagenav_pages a	{ color:#555; }
.pagenav_current	{ font-weight:bold; color:#fff; background:none!important; border:none!important; }
.pagenav_current a	{ color:#555; }
.pagenav_small		{ text-align:right; font-size:.9em; }

.spaced				{ margin:0 8px; }



/* 10. Modal box
-------------------------------------------------- */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */

.jqmWindow {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;

	overflow: auto;

    background-color: #EEE;
    color: #333;
    border: 3px solid white;
    padding: 7px;
	text-align: center;
}

.jqmWindow h4 {
	border-bottom: 1px dotted #b0c4de;
	font-size: 14px;
	margin: 0 0 7px 0;
	padding: 0 0 5px 0;
	text-align: left;
	color: #3E606F;
}

.jqmWindow p{
	text-align: right;
	margin: 15px 0 0 0;
	font-size: x-small;
	text-transform: lowercase;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.clearfix:after		{ content: ''; display: block; clear: both; }
