/*--------------------------------------
	GLOBAL RESET BY ERIC MEYER
	v1.0 - 2008 / 02 / 12 
	Modified by Stamatis Kritikos
--------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, 
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
ul li { list-style-type: none;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; } /* remember to define focus styles! */
ins { text-decoration: none; } /* remember to highlight inserts somehow! */
del { text-decoration: line-through; } 
table {	border-collapse: collapse; border-spacing: 0; } /* tables still need 'cellspacing="0"' in the markup */
hr { display: none; }
/*
> stupid Safari "fat" font rendering tweak
> remove clear type from ie
html.isSafari3 * { text-shadow: 0 0 0 #000; }
body { filter: none; }
*/

/*--------------------------------------
    GENERAL
--------------------------------------*/
body {
	background: #fff url('img/bg-top.png') top left repeat-x;
	text-align: center;
	font: normal 12px/22px verdana, sans-serif;
	color: #666;
}

/*--------------------------------------
    LAYOUT
--------------------------------------*/
#parent, #footer {
	width: 960px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}
#parent { padding-top: 6px; }
	#header { height: 314px; background: transparent url('img/header-light.jpg') no-repeat top left; }
		#logo {	font: normal 250% georgia, serif; color: #fff; margin-top: 15px; }
		#logo a, #logo a:visited { color: #fff;	}
		#tagline {
			font: normal 12px verdana, sans-serif;
			color: #ddd;
			position: absolute;
			top: 95px;
			left: 55px;
		}
		#user {
			width: 284px;
			height: 124px;
			background: transparent url('img/header-userp.jpg') no-repeat top left;
			margin: 17px 0 0 14px;
			color: #a1c3e0;
			font: normal 12px tahoma, sans-serif;
			position: relative;
		}
		#user h3 { font: normal 17px "trebuchet ms", serif; margin: -4px 0 6px 0; color: #f4a72f; }
		#user a, #user a:visited { color: #fff; }
		.userinput {
			height: 20px;
			width: 75px;
			border: 1px solid #bbb;
			background: url('img/bg-input.png') repeat-x top left;
			padding: 5px 5px 0 5px;
		}
		.usrav { position: absolute; top: 19px; right: 19px; }
		.usrpm { color: #c0eb00 !important; font-size: 1.2em; text-decoration: blink !important; }
		#info {
			width: 505px;
			height: 91px;
			position: absolute;
			top: 154px;
			left: 0;
			/* background: transparent url('img/header-info.jpg') no-repeat top left; */
			font: normal 12px/24px verdana, sans-serif;
			color: #cadaea;
		}
		#info strong { font-weight: normal; color: #fff; }
		#latest {
			width: 428px;
			height: 209px;
			background: transparent url('img/header-latest.png') no-repeat top left;
		}
		#online {
			position: absolute;
			top: 225px;
			left: 560px;
			padding: 3px 0 7px 44px;
			background: transparent url('img/icon-users.gif') center left no-repeat;
			font: normal 12px verdana, sans-serif;
			color: #b7cadf;
		}
		#online a, #online a:hover { color:#fff; }
		#hsearch {
			width: 178px;
			height: 30px;
			position: absolute;
			top: 275px;
			right: 55px;
			background: transparent url('img/menu-search.png') center left no-repeat;
		}
		.sq {
			width: 135px;
			background: none;
			border: none;
			margin: 5px 0 0 5px;
		}
		.sb {
			width: 30px;
			background: none;
			border: none;
			cursor: pointer;
		}
		#rss { position: absolute; top: 218px; right: 22px;	}
	#edgel {
	width: 3px;
	height: 460px;
	background: url('img/edge-left.png') no-repeat top left;
	display: inline;
	float: left;
	overflow: hidden;
	}
	#edger {
		width: 3px;
		height: 460px;
		background: url('img/edge-right.png') no-repeat top left;
		display: inline;
		float: right;
		overflow: hidden;
	}
	#content {
		width: 954px;
		float: left;
		border-top: 1px solid #f9fbfc;
		background: #fff url('img/bg-content.png') repeat-x top left;
	}
	#content ul li {padding:3px 16px; background:url('img/bullet.gif') no-repeat 0 9px;}
	#left { width: 570px; float: left; padding-right: 21px;	}
	#right { width: 320px; float: right; border-left: 1px solid #ccc; }
	#right .h3 { font: normal 170% georgia, serif; }
	#right h3, #right .h3 {
		color: #6e7836;
		background: #fff;
		border-bottom: 1px solid #ddd;
		margin: 10px 0 0 0;
		padding: 8px 12px;
	}
	#right h3 a, #right .h3 a { color: #6e7836; text-decoration: none; }
	#right h3 a:hover, #right .h3 a:hover {	color: #369; }
	#poll { position: relative; }
	#right .box { background-color: #f2f2f2; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
	#right .adm { border-bottom: 1px solid #a2d4f1; }
	#right .boxa { background-color: #e4f1ff; border-right: 1px solid #a2d4f1; border-bottom: 1px solid #a2d4f1; }
	#right h5 { margin-bottom: 10px; }
	#poll h5 a { font: bold 1.1em arial, sans-serif; color: #555; }
	#right label {
		display: block;
		cursor: pointer;
		font-size: 0.9em;
		line-height: 13px;
		height: 16px;
	}
#bott {	height: 350px; background: #fff url('img/bg-bottom.png') top left repeat-x; }
	#footer { height: 350px; font: normal 12px arial, sans-serf; color: #888; }
		#footinfo {
			width: 320px;
			position: absolute;
			top: 140px;
			left: 20px;
			font-size: 14px;
			line-height: 20px;
		}
		#footinfo a { font-size: 12px; }
		#footsearch {
			width: 275px;
			height: 26px;
			margin: 30px auto 5px auto;
			background: url('img/footer-search.gif') top left no-repeat;
			text-align: left;
			position: relative;
		}
		#footsearch .sq {
			width: 175px;
			height: 20px;
			padding: 0 0 0 25px;
			color: #999;
		}
		#footsearch .sb {
			width: 60px;
			position: absolute;
			top: 0;
			right: 5px;
			font: bold 12px tahoma, sans-serif;
			color: #fff;
			padding: 4px 0 0 0;
		}
		.adv { 
			position: absolute;
			top: 28px;
			right: 8px;
			font: normal 9px tahoma, sans-serif !important;
			color: #696969 !important;
			text-transform: uppercase;
		}
		.footer_box { width: 163px; margin: 0 0 0 25px; }
		#footer h6 {
			font: normal 12px verdana, sans-serif;
			color: #aaa;
			width: 163px;
			height: 38px;
			padding: 10px 0 0 20px;
			margin-bottom: 8px;
			background: transparent url('img/footer-heading.gif') top left no-repeat;
		}
		#footer h6 span {
			display: block;
			padding: 5px 0 7px 40px;
			background-position: left center;
			background-repeat: no-repeat;
		}
		.icon_contact { background-image: url('img/icon-contact.gif'); }
		.icon_download { background-image: url('img/icon-download.gif'); }
		.icon_donate { background-image: url('img/icon-donate.gif'); }
		#footer ul li {	padding: 3px 15px; background: url('img/footer-arrow.gif') no-repeat 2px 6px; }
		.footer_divider {
			width: 2px;
			height: 198px;
			overflow: hidden;
			position: absolute;
			top: 97px;
			left: 372px;
			background: url('img/footer-divider.gif') no-repeat top left;
		}
		#powered {
			position: absolute;
			top: 60px;
			right: 30px;
			font: normal 9px tahoma, sans-serif;
			text-transform: uppercase;
		}
		#top {
			width: 91px;
			height: 20px;
			position: absolute;
			bottom: 55px;
			right: 30px;
			font: normal 9px tahoma, sans-serif;
			text-align: center;
			text-transform: uppercase;
		}
		#top a {
			display: block;
			height: 20px;
			line-height: 24px;
			background: transparent url('img/footer-top.gif') 0 2px no-repeat;
			color: #161616 !important;
			text-decoration: none;
		}
		#top a:hover {
			background: transparent url('img/footer-top.gif') top left no-repeat;
			color: #111;
			text-decoration: none !important;
		}
		#bot {
			position: absolute;
			bottom: 18px;
			left: 0;
			color: #444;
			font: normal 11px tahoma, sans-serif;
		}
		.icon_valid {
			padding: 3px 0 3px 24px;
			background: transparent url('img/icon-valid.gif') top left no-repeat;
			color: #333 !important;
			font-size: 9px;
			position: relative;
		}

/*--------------------------------------
    NAVIGATION
--------------------------------------*/
#sitemenu {
	width: 960px;
	height: 60px;
	position: absolute;
	top: 260px;
	left: 0;
	font: bold 16px "trebuchet ms", serif;
	background: transparent url('img/bg-menu.png') repeat-x top left;
}
#sitemenu ul {
	margin: 0;
	padding: 0 0 0 40px;
	list-style: none outside none;
	background: transparent url('img/menu-left.jpg') no-repeat top left;
}
#sitemenu ul li {
	float: left;
	margin: 0;
	background: transparent url('img/menu-divider.gif') no-repeat top right;
}
#sitemenu ul li a {display:block; float:left; color:#fff!important; text-decoration:none; padding:0 0 0 14px; height:60px;}
#sitemenu ul li a strong, #sitemenu ul li a span {
	display: block;
	float: left;
	padding: 18px 15px 0 0;
	height: 42px;
	cursor: pointer;
	
}
#sitemenu ul li a:hover, #sitemenu ul li a.current {
	text-decoration: none;
	color: #fff !important;
	background: transparent url('img/menu-over.png') repeat-x top left;
}
#sitemenu ul li a.current:hover { color: #fff !important; }
#sitemenu ul li.last { background: none; }
#sitemenu ul li.edgel {
	width: 38px;
	height: 60px;
	position:absolute;
	left: 0;
	top: 0;
	background: transparent url('img/menu-left.jpg') no-repeat top left;
}
#sitemenu ul li.edger {
	width: 38px;
	height: 60px;
	position:absolute;
	right: 0;
	top: 0;
	background: transparent url('img/menu-right.jpg') no-repeat top right;
}

/*--------------------------------------
    HEADINGS
--------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-family: georgia, sans-serif;
	margin-top: .4em;
	margin-bottom: .5ex;
	color: #1b1b1b;
}
h1 {
	font-size: 250%;
	font-weight: normal;
	padding: 0 .5ex .4em .5ex;
	margin-left: -.5ex;
	background: transparent url('img/bg-heading.png') no-repeat bottom left;
}
h2 {
	font-size: 210%;
	font-weight: normal;
	padding: 0 .5ex .4em .5ex;
	margin-left: -.5ex;
	background: transparent url('img/bg-heading.png') no-repeat bottom left;
}
#left h2 a { color: #1b1b1b; }
h3 { font-size: 170%; font-weight: normal; }
h4 { font-size: 130%; }
h5 { font-size: 95%; }
h6 { font-size: 90%; color: #666; }

/*--------------------------------------
    LINKS
--------------------------------------*/
a, a:visited { text-decoration: underline; color: #0187c5; }
a:hover, #user a, #footer a, .administrator a, .comments a, .leave a, .commentlist a, 
.pageadd a, #online a, .tabcontent a, #poll a, #members a, #left h2 a, .nou a { text-decoration: none; }
#user a:hover, #poll a:hover, #members a:hover, #footer a:hover, 
.pageadd a:hover, #online a:hover, .tabcontent a:hover { text-decoration: underline; }
#members a { color: #000; }
#footer a { color: #55a7d5; }
#bot a, .admin a, .comments a, .pageadd a, #powered { color: #777 !important; }
.scrabble a { padding: 2px 6px; background-color: #f8ffe4; border: 1px solid #e1edbc; }

/*--------------------------------------
    HEADER TABS
--------------------------------------*/
.pos { width: 428px; position: absolute; top: 6px; right: 0; }
.tabs { font: normal 14px "trebuchet ms", serif; }
.tabs li { float: left;	margin: -1px 0 0 0; }
.tabs li a {
	display: block;
	float: left;
	color: #c7dbf1 !important;
	text-decoration: none;
	padding: 6px 16px 0 16px;
	height: 34px;
}
.tabs li a span {
	display: block;
	float: left;
	padding: 4px 0 0 0;
	height: 26px;
	cursor: pointer;
}
.tabs li a:hover { text-decoration: none; color: #eee!important; }
.tabs li a.selected { color: #eee!important; }
.tabs li a.selected span { background: url('img/tab-underline.gif') no-repeat bottom left; }
.tabs li a.selected:hover { color: #eee !important; }
.tabs li.f a.selected {	background: url('img/tabs.png') no-repeat top left; }
.tabs li.c a.selected {	background: url('img/tabs.png') no-repeat -161px 0; }
.tabs li.p a.selected {	background: url('img/tabs.png') no-repeat top right; }
.tabcontent {
	display: none;
	height: 143px;
	margin: 53px 10px 0 12px;
	font: normal 11px/26px tahoma, sans-serif;
	color: #4a729b;
}
@media print {
.tabcontent { display: block !important; }
}
/* recent items styling */
.tabcontent img { vertical-align: middle; margin-right: 3px; }
.time { color: #ccc; }
.title a, .title a:visited { color: #c7d566; }
.replies { color: #93d06c; }
.cat a { color: #0187c5; }

/*--------------------------------------
    BUTTONS
--------------------------------------*/
.more {
	cursor: pointer;
	line-height: 24px;
	background: url('img/button-gray.png') no-repeat right top;
	padding-right: 14px;
	vertical-align: middle;
	display: block;/*opera*/
	display: inline-block;/*ie*/
}
.more span {
	background: url('img/button-gray.png') no-repeat left top;
	height: 28px;
	display: block;
	display: inline-block;
	padding-left: 14px;
	line-height: 28px;
}
a.more { color: #1b1b1b !important; font-weight: normal !important;	text-decoration: none !important; }
a.more:hover {
	background: url('img/button-gray.png') no-repeat right bottom;
	color: #000;
	text-decoration: none !important;
}
a.more:hover span {	background: url('img/button-gray.png') no-repeat left bottom; }

.comm  {
	cursor: pointer;
	line-height: 28px;
	background: url('img/button-gold.png') no-repeat right top;
	padding-right: 14px;
	vertical-align: middle;
	display: block;/*opera*/
	display: inline-block;/*ie*/
}
.comm span {
	background: url('img/button-gold.png') no-repeat left top;
	height: 28px;
	display: block;
	display: inline-block;
	padding-left: 14px;
	line-height: 28px;
}
a.comm  { color: #1b1b1b !important;	font-weight: normal !important;	text-decoration: none !important; }
a.comm:hover {
	background: url('img/button-gold.png') no-repeat right bottom;
	color: #000;
	text-decoration: none !important;
}
a.comm:hover span {	background: url('img/button-gold.png') no-repeat left bottom; }
.login {
	font: bold 12px tahoma;
	text-transform: uppercase;
	border: none;
	background: none;
	color: #b1f462;
	padding: 5px 0;
}
.login:hover, .login:focus { color: #8ef515; cursor: pointer; }
.commv {
	cursor: pointer;
	line-height: 20px;
	background: url('img/button-gray-small.gif') no-repeat right top;
	padding-right: 34px;
	vertical-align: middle;
	display: block;/*opera*/
	display: inline-block;/*ie*/
	text-transform: uppercase;
	font-size: 10px;
}
.commv span {
	background: url('img/button-gray-small.gif') no-repeat left top;
	height: 20px;
	display: block;
	display: inline-block;
	padding-left: 33px;
	line-height: 20px;
}
a.commv { color: #1b1b1b !important; font-weight: normal !important; text-decoration: none !important; }
a.commv:hover {
	background: url('img/button-gray-small.gif') no-repeat right bottom;
	color: #000;
	text-decoration: none !important;
}
a.commv:hover span { background: url('img/button-gray-small.gif') no-repeat left bottom; }
.vote {
	cursor: pointer;
	line-height: 20px;
	background: url('img/button-gold-small.gif') no-repeat right top;
	padding-right: 14px;
	vertical-align: middle;
	display: block;/*opera*/
	display: inline-block;/*ie*/
	text-transform: uppercase;
	font-size: 10px;
}
.vote span {
	background: url('img/button-gold-small.gif') no-repeat left top;
	height: 20px;
	display: block;
	display: inline-block;
	padding-left: 13px;
	line-height: 20px;
}
a.vote { color: #1b1b1b !important;	font-weight: normal !important;	text-decoration: none !important; }
a.vote:hover {
	background: url('img/button-gold-small.gif') no-repeat right bottom;
	color: #000;
	text-decoration: none !important;
}
a.vote:hover span {	background: url('img/button-gold-small.gif') no-repeat left bottom; }

/*--------------------------------------
    CONTENT
--------------------------------------*/
/* description - subtitle */
.details {font:normal 11px arial,sans-serif; color:#999; margin-bottom:10px; padding-left:1px;}
.details a, .cominfo {color:#666;}

/* comments */
.comments {	width: 570px; }
.comments li { background: none !important;	padding: 4px 8px !important; }
.comments br, .pageadd br { display: none; }
.comav {
	position: absolute;
	top: 0;
	left: 0;
	padding-right: 20px;
	margin-left: -52px;
	background: url('img/comment-bubble-gray.gif') no-repeat center right;
}
.comav-owner {
	position: absolute;
	top: 0;
	left: 0;
	padding-right: 20px;
	margin-left: -52px;
	background: url('img/comment-bubble-blue.gif') no-repeat center right;
}
.comav img, .comav-owner img { width: 32px; }
.commentlist cite {	font: bold 16px tahoma, sans-serif; }
.commenttext {
	float: left;
	width: 770px;
	position: relative;
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	padding: 5px 20px 10px 20px;
	margin-left: 52px;
	color: #1b1b1b;
}
.commenttext-owner {
	float: left;
	width: 770px;
	position: relative;
	background-color: #e4f1ff;
	border: 1px solid #a2d4f1;
	padding: 5px 20px 10px 20px;
	margin-left: 52px;
	color: #1b1b1b;
}
/* popup */
.popup { text-align: left; }
.popup h1 a { text-decoration: none; color: #000; }
.popup h4 { margin-top: 15px; }
.legend {
	padding: 5px 10px;
	margin: 20px 0 15px 0;
	color: #999;
	font-size: 11px;
	text-align: center;
}
.legend img { vertical-align: middle; }
/* breadcrumb */
.breadcrumb {padding:5px 5px 5px 0; color:#666; font-size:.9em;}
.breadcrumb a {padding:0 10px 0 5px; background:url('img/breadcrumb.gif') no-repeat center right; text-decoration:none; font-size:1.3em; color:#69c!important;}
.breadcrumb a:hover {color:#369!important;}
/* admin block */
.admin .submit {
	background: none !important;
	border: none !important;
	padding: 0 !important;
	width: auto !important;
	color: #000 !important;
	font: bold 1.2em arial, sans-serif;
	margin-top: 10px;
}
.ssrh { text-align: right; padding-right: 67px; }
.ssrh .text { width: 216px; }
.ssrh .submit { font-size: 1em !important; margin-top: 0 !important; }
.home a { padding: 2px 0 2px 20px; background: url('img/icon-home.gif') no-repeat left center; }
.msn a { padding: 2px 0 2px 20px; background: url('img/icon-msn.gif') no-repeat left center; }
.photo { background: #fff; padding:5px 5px 16px 5px; border: 1px solid #ddd; margin: -5px 5px 0 0; }

/*--------------------------------------
    FORUMS
--------------------------------------*/
.jump { margin-top: 3px; font-size: .55em; }
/* --- SECTIONS --- */
.seccat { border-bottom: 1px solid #ececec; padding: 10px 0; }
.secrow { border-bottom: 1px solid #ececec; }
.sc1 { width: 32px; margin-right: 7px; }
.sc2 { width: 220px; position: relative; margin-right: 7px; padding-left: 7px; }
.sc3 { width: 70px; margin-right: 7px; }
.sc4 { width: 200px; padding-left: 7px; }
/* --- TOPICS --- */
.forums h3 { font-size: 1.4em; margin: 0; }
.forums h3 a { color: #333; text-decoration: none; }
.forums h3 a:hover { text-decoration: underline !important; }
/* sorting options */
.topsort { border-bottom: 1px solid #ececec; font-size: .9em; background-color: #ececec;}
.topsort a { text-decoration: none; }
.ts1 { width: 275px; padding-left: 37px; }
.ts2 { width: 47px; }
.ts3 { width: 140px; }
/* topic row */
.toprow { border-bottom: 1px solid #ececec; border-right: 1px solid #ececec; border-left: 1px solid #ececec; }
.toprowicon { float: left; width: 26px; padding-left: 7px; }
.toprowtitle { float: left; width: 264px; margin-right: 7px; padding-left: 7px; }
/* --- POSTS --- */
/* post wrapper */
.post {	margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #eee; }
/* post author */
.post h4 { display: inline; float: left; }
.post h4 a { text-decoration: none; }
.post h4 a:hover { text-decoration: underline; }
/* post date */
.postinfo { margin-top: 8px; color: #ccc; }
.postinfo strong { color: #666; padding: 2px 2px; font-size: .9em; }
.postinfo a { font-size: .9em; color: #777; }
/* actual post */
.postxt { width: 480px; float: left; color: #333; }
.postbox { background-color: #f6f6f6; border: 1px solid #ccc;}
.postbox-owner { background-color: #e4f1ff; border: 1px solid #a2d4f1; }
.postbox div, .postbox-owner div { line-height: normal;}
.postbox p, .postbox-owner p { font-size: .8em; color: #999; margin-top: 10px; padding-top: 5px; } /* updated by */
.postxt p { text-align: left; margin-top: 7px; } /* action buttons */
/* USER DETAILS */
.posusr { width: 90px; float: left; font-size: .8em; line-height: normal; }
/* avatar */
.avatarious {
	width: 84px;
	height: 84px;
	position: relative;
	padding: 2px 0 0 2px;
}
.avatarious img { width: 80px; height: 80px; } /* force avatar to be 80x80 */
/* rounded border */
.avatar_border {
	width: 84px;
	height: 84px;
	background: transparent url('img/avatar-border.gif') no-repeat top left;
}
/* online status */
.ost1 {
	width: 58px;
	height: 58px;
	background: transparent url('img/online.gif') no-repeat top left;
}
/* signature */
.sig { font-size: .8em; color: #999; padding-left: 10px; }
/* username colors by usergroup */
.ug3 a { color: #eee !important; text-decoration: line-through; } /* banned */
.ug4 a { color: #282828 !important; } /* member */
.ug5 a { color: #d51007 !important; } /* admin */
.ug6 a { color: #8eac2a !important; } /* moderator */

.abs0 { position: absolute; top: 0; left: 0; }

/*--------------------------------------
    PAGINATION
--------------------------------------*/
.paging, .pagenav {	padding: 6px; text-align: right; font-size: .9em; }
.pagenav_small { text-align: right;	font-size: .8em; }
.paging a { margin-right: 2px; padding: 3px 6px; text-decoration: none; }
.pagenav_prev, .pagenav_next { color: #888; font-weight: bold; padding: 3px 4px; }
.pagenav_prev a, .pagenav_next a { border: none; }
.pagenav_first a, .pagenav_last a { color: #aaa; }
.pagenav_pages a { border: 1px solid #ddd; }
.pagenav_current a { color: #d51007; font-weight: bold; padding: 4px 6px; border: none; }

/*--------------------------------------
    FORMS
--------------------------------------*/
/* general forms */
input { color: #444; padding: 2px; margin:0; }
select { color: #444; padding: 2px; margin: 0; }
textarea { color: #444; padding: 2px; margin: 0; }
/* background and border for some */
.whitee input, .whitee select {
	background-color: #fff;
	color: #666;
	border-top: 1px solid #7c7c7c;
	border-left: 1px solid #c3c3c3;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #c3c3c3;
}
.whitee select, .radio, .whitee checkbox { cursor: pointer; }
/* red google styled button */
.submit, .whitee .submit {
	width: 189px;
	height: 33px;
	color: #fff;
	font-size: 1.4em;
	padding: 0 5px 4px 5px;
	background: url('img/button.gif') no-repeat left top;
	cursor: pointer;
	border: none;
}
.submit:hover { background-position: left bottom; }
#poll .comb { position: absolute; bottom: 18px; right: 40px; }
#poll .submit {
	width: 100px;
	height: 20px;
	color: #000;
	font: normal .8em verdana, sans-serif;
	text-transform: uppercase;
	padding: 0 5px;
	background: url('img/button-vote.gif') no-repeat left top;
	cursor: pointer;
	border: none;
	position: absolute;
	bottom: 19px;
	left: 40px;
}
#poll .submit:hover { background-position: left bottom; }
/* fieldsets */
fieldset { margin: 5px 0; border-top: 1px solid #ececec; border-right: 1px solid #ececec; border-left: 1px solid #ececec; }
fieldset legend { padding: 3px; color: #333; font-size: 12px; font-weight: bold; margin: 2px 0 6px 10px; }
fieldset label { width: 140px; padding: 0 10px; margin: 2px 8px 0 0; text-align: right; float: left; color: #444; }
fieldset div { margin-bottom: 6px; display: block; padding: 5px 0 0 0; }
fieldset div input, fieldset div textarea {
	width: 300px;
	border-top: 1px solid #7c7c7c;
	border-left: 1px solid #c3c3c3;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #c3c3c3;
	padding: 3px;
	color: #666;
	background-color: #fff;
}
fieldset div .radio, fieldset div .checkbox, .remember input { width: auto; background: none; cursor: pointer; border: none; }
fieldset div .checkbox { padding-top: 5px; }
.pageadd li { background: none !important; padding: 4px !important; }
.mini li { background: none !important; padding: 1px !important; }
.mini li.markItUpSeparator { display: none; }
.hint { font: normal .9em tahoma, sans-serif; color: #888; }
.point input { cursor: pointer; }

/*--------------------------------------
    MISC CLASSES
--------------------------------------*/
.clear { clear: both; }
.none, .noimg img { display: none; }
.colleft { float: left; }
.colright {	float: right; }
.margin5 { margin: 5px; }
.padding5 {	padding: 3px 6px; }
.padding10 { padding: 8px 11px;  }
.padding15 { padding: 13px 16px; }
.padding20 { padding: 18px 21px; }
.small { font-size: 75%; }
.centerall { text-align: center; vertical-align: middle; }
.odd { background-color: #f6f6f6 !important; }
.even { background-color: #fafafa !important; }
.bar_front {
	background-color: #ffad2f;
	height: 4px;
	overflow: hidden;
}
.bar_back {
	background-color: #ddd;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #ccc;
	height: 4px;
	overflow: hidden;
}
.lightgray { color: #bbb; }
.orange { color: #e79410; }
.red { color: #CC1212; }

/*--------------------------------------
    PLUGINS
--------------------------------------*/
/* tags */
.indextags { border: 1px solid #ddd; background-color: #fafafa; }
.indextags .tag_cloud { display: inline !important; }
.tag_cloud { padding: 0; }
.tag_cloud a {padding: 0 2px; text-decoration:none;}
.tag_cloud a.xs:hover, .tag_cloud a.s:hover, .tag_cloud a.m:hover, .tag_cloud a.l:hover, .tag_cloud a.xl:hover {color:#000;}
.tag_cloud a.xs {font-size:10pt;color:#c4c4c4;}
.tag_cloud a.s {font-size:12pt;color:#336699;}
.tag_cloud a.m {font-size:14pt;color:#A0522D;}
.tag_cloud a.l {font-size:16pt;color:#666;}
.tag_cloud a.xl {font-size:18pt;color:#aad815;}

/*--------------------------------------
    RATINGS
--------------------------------------*/

/* Ratings
-------------------------------------------------- */
/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel, div.star-rating {float:left; width:17px; height:15px; text-indent:-999em; cursor:pointer; display:block; overflow:hidden;}
div.rating-cancel, div.rating-cancel a {background:transparent url('../img/system/delete.gif') no-repeat 0 -16px;}
div.star-rating, div.star-rating a {background:transparent url('../img/system/star.gif') no-repeat 0 0px;}
div.rating-cancel a, div.star-rating a {display:block; width:16px; height:100%; background-position:0 0; border:0; font-size:0;}
div.star-rating-on a {background-position:0 -16px !important;}
div.star-rating-hover a {background-position:0 -32px;}
div.star-rating-readonly a {cursor:default!important;} /* read only rating */
div.star-rating {background:transparent!important; overflow:hidden!important;} /* partial star */
.rating_submit {margin-top:-3px; cursor:pointer; font:bold .75em tahoma; color:#c00;}

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
/*div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(../../../images/icons/default/delete.png) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(../../../images/icons/default/star.png) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0;font-size:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
/*div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
/*div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
/*div.rating-cancel, div.star-rating {
	float: left;
	width: 17px;
	height: 15px;
	text-indent: -999em;
	cursor: pointer;
	display: block;
	background: transparent;
	overflow: hidden;
}
div.rating-cancel, div.rating-cancel a { background: url('img/system/delete.gif') no-repeat 0 -16px; }
div.star-rating, div.star-rating a { background: url('img/system/star.gif') no-repeat 0 0px; }
div.rating-cancel a, div.star-rating a {
	display: block;
	width: 16px;
	height: 100%;
	background-position: 0 0;
	border: 0;
	font-size: 0;
}
div.star-rating-on a { background-position: 0 -16px !important; }
div.star-rating-hover a { background-position: 0 -32px; }
div.star-rating-readonly a { cursor: default !important; } /* Read Only CSS */
/*div.star-rating { background: transparent !important; overflow: hidden !important; } /* Partial Star CSS */
/*.rating_submit { font: bold .75em tahoma; color: #c00; margin-top: -3px; cursor: pointer; }*/

/*--------------------------------------
    ADMIN
--------------------------------------*/
#adminmenu { border-bottom:1px solid #ccc; padding-left: 10px; font-weight:bold; }
#adminmenu li {
	float: left;
	margin-left: 1px;
	background: none !important;
	padding: 0 !important;
}
#adminmenu li a {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	float: left;
	background: #e4f1ff;
	color: #0187c5;
	text-decoration: none;
}
#adminmenu li a b { text-transform: uppercase; }
#adminmenu li a:hover, #adminmenu .current { background-color: #fff; color: #e60; }

/*--------------------------------------
    COTONTI HARDCODED
--------------------------------------*/
.markItUp { border: none; width: 100%; }
.markItUpContainer, .markItUpEditor, .markItUpPreviewFrame, .markItUpHeader ul ul, .markItUpHeader ul ul li { border-color: #ddd; }
.markItUp .palette ul { width: 110px; }
.markItUp .palette ul li, .markItUpHeader ul ul li { padding: 0 !important; }
.markItUpHeader ul ul a:hover { background-color: #fff; color: #444; text-decoration: none !important; }
.markItUpHeader ul ul { top: 23px; }
.markItUpEditor { padding: 10px; width: 96%; }
.error { padding: 24px 8px 24px 8px; color: #CC1212; font-weight: bold; font-size: 110%; text-align: center; }
.codetitle { font-size: .90em; text-transform: uppercase; font-weight: bold; padding: 2px; margin-top: 5px; }
.code { background-color: #fff; border: 1px solid #C8D9E2; overflow: auto; padding: 2px; margin-bottom: 5px; font-family: monospace; }
.coltop { color: #555; padding: 5px 0; font-weight: bold; height: 25px; vertical-align: middle; }
.desc { font-size: 95%; padding: 3px; color: #646464; }
.spoiler { padding: 8px; margin: 8px; border: 1px dashed #CCCCCC; background-color: #DBE5E9; }
.searchhighlight { background-color: #ef0; }
.bbcodes a img, .smilies a img { border: 0; background-color: transparent; }
.loading { position: relative; left: 45%; top: -50px; z-index: 99; }
/* tables */
table td  { vertical-align:top; }
table.main { width:100%; padding: 4px; }
table.main td  { padding: 4px; }
table.main td img	{ margin-right: 6px; }
table.cells { width: 100%; border-spacing: 1px; }
table.cells td { padding: 2px; text-align: left !important; }
table.list { width:100%; padding: 5px; }
table.list td  { padding: 12px; }
/* extra bb styles */
.bbstyle1	{  }
.bbstyle2	{  }
.bbstyle3	{  }
.bbstyle4	{  }
.bbstyle5	{  }
.bbstyle6	{  }
.bbstyle7	{  }
.bbstyle8	{  }
.bbstyle9	{  }

/* modal windows */

.jqmWindow {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
	
	overflow: auto;

    background-color: #EEE;
    color: #333;
    border: 3px solid white;
    padding: 7px;
	text-align: center;
}

.jqmWindow h4 {
	border-bottom: 1px dotted #b0c4de;
	font-size: 14px;
	margin: 0 0 7px 0;
	padding: 0 0 5px 0;
	text-align: left;
	color: #3E606F;
}

.jqmWindow p{
	text-align: right;
	margin: 15px 0 0 0;
	font-size: x-small;
	text-transform: lowercase;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}