@import url('fb-buttons.css');

* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 11px tahoma,verdana,arial;
	width: 100%;
	height: 100%;
    background:url(img/header-bg-blue.png) repeat-x;
}
a {
	color: inherit;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 980px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 54px;
}

#header #logo { padding-top: 14px; padding-left: 15px; font-size: 23px; color: #333; font-weight: bold; text-shadow: 0pt 1px #CCC; float:left;}
#header #logo a { text-decoration: none;  color: inherit;}
#header ul { margin: 0pt; padding: 0pt; position: relative; margin: 12px 0 0 0px; }
#header li { display: inline; list-style: none outside none; margin: 0pt; padding: 0pt; }
#header  a { background: url('img/header-mainnav-blue.png') repeat-x scroll 0pt 0pt transparent; border: 1px solid rgb(59, 117, 158); border-radius: 5px 5px 5px 5px; box-shadow: 0pt 1px rgba(255, 255, 255, 0.2) inset, 0pt 1px rgba(255, 255, 255, 0.2); color: rgb(255, 255, 255); display: inline-block; font-size: 14px; font-weight: bold; height: 27px; line-height: 27px; margin-right: 5px; padding: 0pt 10px; text-decoration: none; text-shadow: 0pt -1px rgba(59, 117, 158, 0.95); }
#header # a:hover { background-position: 0pt -27px; text-decoration: none; }
#header a:active, #header #main .sel, #header #main .sel:hover { background-position: 0pt -54px; border-color: rgb(49, 95, 128); box-shadow: 0pt 3px 5px rgba(0, 0, 0, 0.15) inset; color: rgba(255, 255, 255, 0.8); text-shadow: 0pt -1px rgba(7, 59, 95, 0.95); }

#header #main { float: left; }
#header #return { float: right; }

/* Middle
-----------------------------------------------------------------------------*/
#content {
	padding: 0 0 35px;
}




/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 980px;
	margin: -31px auto 0;
	height: 30px;
    text-align: center;
    /*background-color: #FFFDDB;*/
    border-top: 1px solid #ccc;
}
#footer a { text-decoration: none; }
#footer .copyright { padding: 9px 0 0 0; }



/* ========================================== nemesis ==================================== */

/* 3. Headings
-------------------------------------------------- */

h1		{ font-size: 20px; margin-bottom: 15px; }
h2		{ font-size: 20px; margin-bottom: 15px; font-weight: normal;}
h3		{ font-size: 20px; margin-top: 15px; margin-bottom: 3px; font-weight: normal;}
h4		{ font-size: 13px; }

ul 			{ list-style-type:none; }
ol			{ list-style-position:outside; margin-bottom:5px; padding-left:20px; }
ul.follow 	{ padding: 10px; }
ul.follow li	{ padding-left:25px; background:url(img/small_icons/arrow-000-medium.png) no-repeat 5px 2px; font-size: 13px; margin-bottom: 10px;}
ul.follow img	{ vertical-align:-3px; }

/* 4. Misc
-------------------------------------------------- */

.breadcrumbs    { padding:18px 0px 20px; color: #4F789F;}
.breadcrumbs a  { font-weight:bold; padding-right: 5px;}
.small		{ font-size:.9em; line-height:1.4em; }
.clear		{ clear:both; }
.strong		{ font-weight:bold; }
.lhn		{ line-height:normal!important; }
.leftindent	{ text-indent:1em; }

.lower		{ text-transform:lowercase; }
.upper		{ text-transform:uppercase; }
.capital	{ text-transform:capitalize; }

.textleft		{ text-align:left; }
.textcenter		{ text-align:center; }
.textright		{ text-align:right; }
.textjustify	{ text-align:justify; }

div.error, div.warning, div.done, div.help		{ line-height:1.8em; margin:20px 0; padding:10px 50px; background-position:15px 50%; background-repeat:no-repeat; clear:both; }
div.error									{ color:#d8000c; background-color:#ffbaba; background-image:url(../../../../images/icons/default/error.png); border:1px solid #d8000c; }
div.warning									{ color:#9f6000; background-color:#feefb3; background-image:url(../../../../images/icons/default/warning.png); border:1px solid #9f6000; }
div.done										{ color:#4f8a10; background-color:#dff2bf; background-image:url(../../../../images/icons/default/done.png); border:1px solid #4f8a10; }
div.help										{ color: #222222; background-color: #F2F2F2; border:1px solid #cccccc; padding-left: 10px !important;}

.margintop10	{ margin-top:10px; }
.marginright10	{ margin-right:10px; }
.marginbottom10	{ margin-bottom:10px; }
.marginleft10	{ margin-left:10px; }
.margin10		{ margin:10px!important; }
.margin0		{ margin:0!important; }

.paddingtop10	{ padding-top:10px; }
.paddingright10	{ padding-right:10px; }
.paddingbottom10{ padding-bottom:10px; }
.paddingleft10	{ padding-left:10px; }
.padding10		{ padding:10px!important; }
.padding0		{ padding:0!important; }

.border0		{ border:0!important; }

.width5		{ width:5%; }
.width10	{ width:10%; }
.width15	{ width:15%; }
.width20	{ width:20%; }
.width25	{ width:25%; }
.width30	{ width:30%; }
.width35	{ width:35%; }
.width40	{ width:40%; }
.width45	{ width:45%; }
.width50	{ width:50%; }
.width55	{ width:55%; }
.width60	{ width:60%; }
.width65	{ width:65%; }
.width70	{ width:70%; }
.width75	{ width:75%; }
.width80	{ width:80%; }
.width85	{ width:85%; }
.width90	{ width:90%; }
.width95	{ width:95%; }
.width100	{ width:100%; }

.block		{ margin:5px 0px 15px 0px; }
.col, .col4-1, .col4-2, .col4-3, .col3-1, .col3-2, .col2-1		{ float:left; }
.col		{ width:100%; }
.col4-1		{ width:240px; /* width:25%; */ }
.col4-2		{ width:480px; /* width:50%; */ }
.col4-3		{ width:720px; /* width:75%; */ }
.col3-1		{ width:320px; /* width:33%; */ }
.col3-2		{ width:640px; /* width:67%; */ }
.col2-1		{ width:480px; /* width:50%; */ }
.col.first, .col4-1.first, .col4-2.first, .col4-3.first, .col3-1.first, .col3-2.first, .col2-1.first	{ margin-left:0; clear:left; }

.font13 { font-size: 13px;}

/* 5. Admin Menu
-------------------------------------------------- */

#adminmenu			{ padding:15px 45px; background:url(img/adminmenu.png) no-repeat 0 0; min-height:160px; width:870px; overflow:auto; }
#adminmenu li			{ padding:12px 15px 10px; height:60px; width:115px; background:url(img/menuitem.png) no-repeat 0 0; display:block; float:left; }
#adminmenu li a		{ color:#3b3b3b; text-align:center; display:block; height:100%; opacity:.6; zoom:1; filter:alpha(opacity=60); }
#adminmenu li a:hover	{ text-decoration:none; opacity:.8; zoom:1; filter:alpha(opacity=80); }
#adminmenu li a.sel	{ text-align:center; display:block; height:100%; opacity:1; zoom:1; filter:alpha(opacity=100); }
#adminmenu li a img		{ height:32px; width:32px; }
#adminmenu li a span	{ text-align:center; line-height:18px; margin:8px 0 0; height:18px; background:#ddd; display:block; overflow:hidden; }


/* 6. Tables
-------------------------------------------------- */

table td 	{ vertical-align:top; }

table.cells 	{  width:100%; margin-bottom: 20px;}
table.cells td.coltop {
    border-top-color: white;
    color: #444;
    text-shadow: 0 1px 0 white;
    background: #F1F1F1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1', endColorstr='#E8E8E8');
    background: -webkit-gradient(linear, left top, left bottom, from(#F1F1F1), to(#E8E8E8));
    background: -moz-linear-gradient(top, #F1F1F1, #E8E8E8);
    background: -o-linear-gradient(top, #F1F1F1, #E8E8E8);
    text-align:center;
    vertical-align:middle;
    font-weight: bold;
    height: 18px;
    font-size: 13px;
}
table.cells td.coltop img { vertical-align:middle; }
table.cells td	{
    padding:5px 10px;
    margin: 2px;
    background-color: #F2F2F2;
}

table.flat 	{ border-collapse:collapse; width:100%; }
table.flat td	{ padding:0; border:0; }

td.group_begin	{ height: 28px; vertical-align: bottom; }
td.group_end	{ font-size:0; padding:0!important; border:none!important; }

.action a	{ margin:0 2px; }
.centerall 	{ text-align:center; vertical-align:middle; }
.valid 		{ height:5em; text-align:center; vertical-align:middle; border:0!important; }


/* 7. Polls
-------------------------------------------------- */

.bar_front 	{ background-color:#ffae00; border-right:0px solid #333; color:#ddd; height:8px; font-size:1px; }
.bar_back 	{ background-color:#fff; border:1px solid #333; height:8px; }

/* 8. Forms
-------------------------------------------------- */

input, select, button			{ padding:2px; }

#saveconfig input[type=text], #saveconfig textarea { width:98%; }

/* 9. Pagination
-------------------------------------------------- */

.paging			{ margin:10px 0 20px 0; text-align:center; font-size:.9em; }
.paging img		{ vertical-align:-3px; }
.paging span		{ border:1px dashed #7f7772; padding:2px 8px; margin:1px; }

.pagenav_prev, .pagenav_next, .pagenav_first, .pagenav_last, .pagenav_pages, .pagenav_current { padding:2px 6px; margin:1px; border:1px dashed #7f7772; }
.pagenav_prev a, .pagenav_next a, .pagenav_first a, .pagenav_last a, .pagenav_pages a	{ color:#555; }
.pagenav_current	{ font-weight:bold; color:#fff; background:none!important; border:none!important; }
.pagenav_current a	{ color:#555; }
.pagenav_small		{ text-align:right; font-size:.9em; }

.spaced				{ margin:0 8px; }

/* ========================================== nemesis ==================================== */

ul.icons { list-style: none; }
ul.icons li {
    background: white;
    border: 1px solid #E5E2E2;
    width: 80px;
    height: 60px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    padding: 10px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
ul.icons li:hover{
    background: #FFF url(img/icon_holder_bg.jpg) repeat-x bottom;
}
ul.icons li a{
    display: block;
    font-size: 11px;
    color: #727272;
    text-decoration: none;
}
ul.icons li a:hover{
    color: #000;
}ul.icons li img{
    margin: 0 auto;
    display: block;
}

.icon_install { padding-left:25px; background:url(img/small_icons/control-power.png) no-repeat 2px 2px; font-size: 13px; }
.icon_update { padding-left:25px; background:url(img/small_icons/arrow-circle-double-135.png) no-repeat 2px 0px; font-size: 13px; }
.icon_uninstall { padding-left:25px; background:url(img/small_icons/control-stop-square.png) no-repeat 2px 2px; font-size: 13px;}
.icon_pause { padding-left:25px; background:url(img/small_icons/control-pause.png) no-repeat 2px 2px; font-size: 13px;}
.icon_unpause { padding-left:25px; background:url(img/small_icons/control-double.png) no-repeat 2px 2px; font-size: 13px;}