#txb { font-size:10px; }
#txb #bb, #txb #explain { border-color:#C8D9E2;}
#txb #explain  { height:1em; color:#3E606F;}
#txb #bb  { background-color:#dee4e9; }
#txb textarea, #txb #preview  { color:#3E606F; background-color:#FFF; border-color:#C8D9E2; font-size:12px; }
#txb #bb a { color:#3E606F!important;}
#txb #bb a:hover { color:#3E606F!important;}
#txb #bb .bbn a{  }
#txb #bb .bbn a:hover { background-color:#e8edf1; border:1px solid #e8edf1; }
#txb #bb .bbd { }
#txb #bb span, #txb #bb .bbd { background-image: url(../../plugins/textboxer2/themes/bbcodes.gif);}
#txb #bb .dropdown li.bbd:hover, #txb #bb .dropdown li.over{ background-color:#e8edf1;}
#txb #bb .bbd ul { border-color:#dee4e9; background-color:#e8edf1;}
#txb #bb .dropdown a:hover{ background-color:#dee4e9;}
#txb #bb .bbd a span { background-color:#e8edf1; }
#txb #bb .dropdown a:hover span{ background-color:#dee4e9;}
#txb div.cut,#txb div.previewInfo{ background-color:#FFF; border-color:#C8D9E2; }
