/* 1. Elements
-------------------------------------------------- */

*	{ margin:0; padding:0; }
html	{ padding:0; }

body	{ font:normal 76%/1.8em Georgia, serif; background:url(img/body.png) repeat-x 0 60px; }

ul 			{ list-style-type:none; }
ol			{ list-style-position:outside; margin-bottom:5px; padding-left:20px; }
ul.follow li	{ padding-left:25px; background:url(img/follow.png) no-repeat 5px 3px; }
ul.follow img	{ vertical-align:-3px; }

a			{ color:#172973; text-decoration:none; }
a:hover		{ text-decoration:underline; }
a img		{ border:0; }

hr		{ margin:4px 0 1px; border: 1px solid; border-color:#ddd transparent transparent transparent; }
* html hr	{ margin:4px 0 1px; border: 1px solid #ddd; }

/* 2. Structure
-------------------------------------------------- */

#container	{ font-size:.9em; width:960px; margin:0 auto; }
#user		{ text-align:right; padding:30px 45px 0; height:30px; background:url(img/user.png) no-repeat 0 0; position:relative; }
#user a		{ font-weight:bold; }
#user li#hi	{ position:absolute; top:30px; left:45px; }
#main		{ padding:0 45px; }
#center		{ width:550px; margin-right:40px;  }
#side		{ width:280px; }
.column		{ position:relative; float:left; }
.block		{ margin-bottom:10px; }
#footer		{ font-size:.9em; text-align:center; padding:15px; height:50px; background:url(img/footer.png) repeat-x 0 0; }
#footer a	{ color:#d3dde7; }
#footer ul li	{ display:inline; margin:0 5px; }

/* 3. Headings
-------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight:normal; font-size:1em; margin:0; padding:0; position:relative; }
h1		{ color:#036; padding:8px 0 0 45px; height:52px; background:url(img/crumbs.png) no-repeat 0 0; }
h1 a		{ font-weight:bold; padding:0 10px; }
h2		{ font:normal 2em "Times New Roman"; margin:10px 0; padding-bottom:2px; border-bottom:1px solid; }
h3		{ color:#4f789f; font:normal 1.6em "Times New Roman"; margin:5px 0; }
h4		{ font-weight:bold; }

/* 4. Misc
-------------------------------------------------- */

.small		{ font-size:.9em; line-height:1.4em; }
.clear		{ clear:both; }
.strong		{ font-weight:bold; }
.lhn		{ line-height:normal!important; }
.leftindent	{ text-indent:1em; }

.lower		{ text-transform:lowercase; }
.upper		{ text-transform:uppercase; }
.capital	{ text-transform:capitalize; }

.textleft		{ text-align:left; }
.textcenter		{ text-align:center; }
.textright		{ text-align:right; }
.textjustify	{ text-align:justify; }

div.error, div.warning, div.done, div.help		{ line-height:1.8em; margin:20px 0; padding:10px 50px; background-position:15px 50%; background-repeat:no-repeat; clear:both; }
div.error									{ color:#d8000c; background-color:#ffbaba; background-image:url(/images/icons/default/error.png); border:1px solid #d8000c; }
div.warning									{ color:#9f6000; background-color:#feefb3; background-image:url(/images/icons/default/warning.png); border:1px solid #9f6000; }
div.done										{ color:#4f8a10; background-color:#dff2bf; background-image:url(/images/icons/default/done.png); border:1px solid #4f8a10; }
div.help										{ color:#00529b; background-color:#bde5f8; background-image:url(/images/icons/default/help.png); border:1px solid #00529b; }

.margintop10	{ margin-top:10px; }
.marginright10	{ margin-right:10px; }
.marginbottom10	{ margin-bottom:10px; }
.marginleft10	{ margin-left:10px; }
.margin10		{ margin:10px!important; }
.margin0		{ margin:0!important; }

.paddingtop10	{ padding-top:10px; }
.paddingright10	{ padding-right:10px; }
.paddingbottom10{ padding-bottom:10px; }
.paddingleft10	{ padding-left:10px; }
.padding10		{ padding:10px!important; }
.padding0		{ padding:0!important; }

.border0		{ border:0!important; }

.width5		{ width:5%; }
.width10	{ width:10%; }
.width15	{ width:15%; }
.width20	{ width:20%; }
.width25	{ width:25%; }
.width30	{ width:30%; }
.width35	{ width:35%; }
.width40	{ width:40%; }
.width45	{ width:45%; }
.width50	{ width:50%; }
.width55	{ width:55%; }
.width60	{ width:60%; }
.width65	{ width:65%; }
.width70	{ width:70%; }
.width75	{ width:75%; }
.width80	{ width:80%; }
.width85	{ width:85%; }
.width90	{ width:90%; }
.width95	{ width:95%; }
.width100	{ width:100%; }

/* 5. Admin Menu
-------------------------------------------------- */

#adminmenu			{ padding:15px 45px; background:url(img/adminmenu.png) no-repeat 0 0; overflow:auto; }
#adminmenu li			{ padding:12px 15px 10px; height:60px; width:115px; background:url(img/menuitem.png) no-repeat 0 0; display:block; float:left; }
#adminmenu li a		{ color:#3b3b3b; text-align:center; display:block; height:100%; opacity:.6; zoom:1; filter:alpha(opacity=60); }
#adminmenu li a:hover	{ text-decoration:none; opacity:.8; zoom:1; filter:alpha(opacity=80); }
#adminmenu li a.sel	{ text-align:center; display:block; height:100%; opacity:1; zoom:1; filter:alpha(opacity=100); }
#adminmenu li a img		{ height:32px; width:32px; }
#adminmenu li a span	{ text-align:center; line-height:18px; margin:8px 0 0; height:18px; background:#ddd; display:block; overflow:hidden; }


/* 6. Tables
-------------------------------------------------- */

table td 	{ vertical-align:top; }

table.cells 	{ border-collapse:collapse; width:100%; }
table.cells td	{ padding:5px 10px; border:1px solid #a4b6c8; }

table.flat 	{ border-collapse:collapse; width:100%; }
table.flat td	{ padding:0; border:0; }

.action a	{ margin:0 2px; }
.coltop		{ text-align:center; line-height:1.4em; vertical-align:middle; font-size:.9em; background-color:#4f789f!important; color:#fff; }
.coltop img	{ vertical-align:middle; }
.centerall 	{ text-align:center; vertical-align:middle; }
.valid 		{ height:48px; text-align:center; vertical-align:middle; border:0!important; }

td.group_begin { border: none; background-color: #88bfef; padding: 3px 10px 1px 10px!important; text-align: center; color: #663f3f; }
td.group_end { border: none; background-color: #4488bb; padding: 0!important; font-size: 4px; }

/* 7. Polls
-------------------------------------------------- */

.bar_front 	{ background-color:#ffae00; border-right:0px solid #333; color:#ddd; height:8px; font-size:1px; }
.bar_back 	{ background-color:#fff; border:1px solid #333; height:8px; }

/* 8. Forms
-------------------------------------------------- */

form							{ }
input, select, textarea, button	{ font:normal 1em Georgia; }
input, select, button			{ padding:2px; }

/* 9. Pagination
-------------------------------------------------- */

.paging		{ margin:10px 0 20px 0; text-align:center; font-size:.9em; }
.paging img	{ vertical-align:-3px; }
.paging span.a1	{ border:1px dashed #7f7772; padding:2px 8px; margin:1px; }
.paging span.a1 a	{  }

.pagenav_prev, .pagenav_next, .pagenav_first, .pagenav_last, .pagenav_pages, .pagenav_current { padding:2px 6px; margin:1px; border:1px dashed #7f7772; }
.pagenav_prev a, .pagenav_next a, .pagenav_first a, .pagenav_last a, .pagenav_pages a	{ color:#555; }
.pagenav_current	{ font-weight:bold; color:#fff; background:none!important; border:none!important; }
.pagenav_current a	{ color:#555; }
.pagenav_small		{ text-align:right; font-size:.9em; }

.spaced				{ margin:0 8px; }