/* RESET */
* {margin:0; padding:0; outline:0; font-size:100%; vertical-align:baseline;}
img {border:0;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
:focus {outline:0;} /* remember to define focus styles! */
ins {text-decoration:none;} /* remember to highlight inserts somehow! */
del {text-decoration:line-through;} 
table {border-collapse:collapse; border-spacing:0;} /* tables still need 'cellspacing="0"' in the markup */
td {padding:4px 6px;}
hr {display:none;}

/* GENERAL */
body {font:normal 12px/1.5em verdana,sans-serif; background:#fff url('img/bg-top.png') top left repeat-x; color:#666;}
/* headings */
h1, h2, h3, h4, h5, h6 {margin-top:.4em; margin-bottom:.5ex; font-family:georgia,serif; color:#1b1b1b;}
h1, h2 {
	margin-left:-.5ex; padding:.3em .5ex .4em .5ex; font-weight:normal; 
	background:transparent url('img/bg-heading.png') no-repeat bottom left;
	}
h1 {font-size:250%; padding-top:.1em;}
h2 {font-size:210%;}
h3 {font-size:170%; font-weight:normal;}
h4 {font-size:130%; color:#999;}
h5 {font-size:95%;}
h6 {font-size:90%; color:#666;}
/* links */
a:link, a:visited {text-decoration:underline; color:#0187c5;}
a:hover {text-decoration:none;}
/* forms */
input, select, textarea {margin:0; padding:2px; color:#444;}
fieldset {margin:5px 0; border-top:1px solid #ececec; border-right:1px solid #ececec; border-left:1px solid #ececec; border-bottom:none;}
fieldset legend {margin:2px 0 6px 10px; padding:3px; font-weight:bold; font-size:12px; color:#333;}
fieldset label {
	float:left; width:130px; margin:2px 8px 0 0; padding:0 10px 5px 10px; 
	text-align:right; color:#444;
	}
fieldset div {display:block; margin-bottom:6px; padding:5px 0 0 0;}
fieldset div input, fieldset div textarea {
	width:300px; padding:3px; color:#666; background-color:#fff; 
	border-top:1px solid #7c7c7c; border-left:1px solid #c3c3c3; border-bottom:1px solid #ddd; border-right:1px solid #c3c3c3;
	}

/* LAYOUT */
#parent, #footer {position:relative; width:93%; min-width:960px; max-width:1200px; margin:0 auto;}
#parent {padding-top:6px;} /* top dark line */
/* Header */
#header {height:314px; background:transparent url('img/header-light.jpg') no-repeat top left;}
#logo {position:absolute; top:25px; left:0; font:normal 250% georgia,serif; color:#fff;}
#logo a, #logo a:visited {color:#fff;}
#tagline {position:absolute; top:110px; left:47px; font:normal 12px verdana; padding:1px 4px 2px 4px; color:#f1f1f1; background-color:#036}
/* user panel */
#fluid {margin-right:440px;}
#fluid h3 {margin:0 0 5px 0; font:normal 17px "trebuchet ms",serif; color:#f4a72f;}
#fluid a, #user a:visited {color:#fff;}
#fluid input {
	height:20px; width:75px; padding:5px 5px 0 5px; 
	border:1px solid #bbb; background:url('img/bg-input.png') repeat-x top left;
	}
#user {
	height:90px; margin:22px 10px 14px 240px; padding:10px 10px 10px 13px;
	background:#245894 url('img/header-userp.jpg') no-repeat top left; 
	color:#a1c3e0; border:1px solid #4590c0;
	}
#user p {margin:5px 5px 5px 0; font-size:.9em; line-height:1.4em;}
.usrav {float:right; margin-top:-25px; border:2px dotted #69c;} /* avatar */
.usrpm {text-decoration:blink!important; font-size:1em; color:#c0eb00!important;} /* pm notice */
/* site info */
#info {width:98%; font:normal 12px/24px verdana; color:#cadaea;}
#info strong {font-weight:normal; color:#fff;}
#info p {padding:8px 11px;}
/* recentitems with tabs */
#recentitems {
	float:right; width:428px; height:209px; margin:0 0 0 -440px; 
	background:transparent url('img/header-latest.png') no-repeat top left;
	}
.pos {position:absolute; top:6px; right:0; width:428px;}
.tabs {font:normal 14px "trebuchet ms",serif;}
.tabs li {float:left; margin:-1px 0 0 0;}
.tabs li a {
	display:block; float:left; height:34px; padding:6px 16px 0 16px; 
	text-decoration:none; color:#c7dbf1!important;
	}
.tabs li a span {display:block; float:left; height:26px; padding:4px 0 0 0; cursor:pointer;}
.tabs li a:hover, .tabs li a.selected, .tabs li a.selected:hover {text-decoration:none; color:#eee!important;}
.tabs li a.selected span {background:transparent url('img/tab-underline.gif') no-repeat bottom left;}
.tabs li.f a.selected {background:transparent url('img/tabs.png') no-repeat top left;}
.tabs li.c a.selected {background:transparent url('img/tabs.png') no-repeat -161px 0;}
.tabs li.p a.selected {background:transparent url('img/tabs.png') no-repeat top right;}
.tabcontent {
	display:none; height:143px; margin:53px 10px 0 12px; 
	font:normal 11px/26px tahoma; color:#4a729b;
	}
@media print {.tabcontent {display:block!important;}}
/* within tabs */
.tabcontent img {vertical-align:middle; margin-right:3px;}
.title a, .title a:visited {color:#c7d566;}
.cat a {color:#0187c5;}
.time {color:#ccc;}
.replies {color:#93d06c;}
/* online stat */
#whosonline {
	position:absolute; top:225px; right:150px; padding:3px 0 7px 44px; 
	background:transparent url('img/icon-users.gif') center left no-repeat; font:normal 12px verdana; color:#b7cadf;
	}
#whosonline a, #whosonline a:hover {color:#fff;}
/* header search */
#hsearch {
	position:absolute; top:275px; right:55px; width:178px; height:30px; 
	background:transparent url('img/menu-search.png') center left no-repeat;
	}
.sq {width:135px; margin:5px 0 0 5px; background:none; border:none;}
.sb {width:30px; cursor:pointer; background:none; border:none;}
#rss {position:absolute; top:218px; right:22px;}

/* navigation */
#sitemenu {
	position:absolute; top:260px; left:0; width:100%; height:60px; 
	font:bold 16px "trebuchet ms",serif; background:transparent url('img/bg-menu.png') repeat-x top left;
	}
#sitemenu ul {
	margin:0; padding:0 0 0 20px; list-style:none; 
	background:transparent url('img/menu-left.jpg') no-repeat top left;
	}
#sitemenu ul li {float:left; margin:0; background:transparent url('img/menu-divider.gif') no-repeat top right;}
#sitemenu ul li a {
	display:block; float:left; height:42px; padding:18px 15px 0 14px; text-shadow:1px 1px 4px #1b1b1b; 
	text-decoration:none; color:#fff!important;
	}
#sitemenu ul li a b, #sitemenu ul li a span {display:block; float:left; padding:18px 15px 0 0; height:42px; cursor:pointer;}
#sitemenu ul li a:hover, #sitemenu ul li a.current {text-decoration:none; color:#fff!important; background:transparent url('img/menu-over.png') repeat-x top left;}
#sitemenu ul li a.current:hover {color:#fff!important;}
#sitemenu ul li.last {background:none;}
#sitemenu ul li.edgel, #sitemenu ul li.edger {position:absolute; top:0; width:38px; height:60px;}
#sitemenu ul li.edgel {left:0; background:transparent url('img/menu-left.jpg') no-repeat top left;}
#sitemenu ul li.edger {right:0; background:transparent url('img/menu-right.jpg') no-repeat top right;}

/* Actual Content */
#content {float:left; width:100%; background:#fff url('img/bg-content.png') repeat-x top left;}
#content ul li, #right ul li {padding:3px 16px; background:url('img/bullet.gif') no-repeat 0 9px;}
#edge {background:transparent url('img/edge-right.png') no-repeat top right;}
#left {margin-right:362px; padding:18px 0 0 23px; min-height:460px; background:transparent url('img/edge-left.png') no-repeat top left;}
#left div a:active, #left div a:focus {outline:2px solid #feedca;}
#left h2 a {color:#1b1b1b;}
#left blockquote {font-size:.9em; padding:2px 24px 2px 10px; background:#fcfcfc url('img/quotel.gif') no-repeat 99% 90%; border:1px solid #f5f5f5;}
#left blockquote strong {padding:0 24px 0 0; margin-right:5px; background:transparent url('img/quoter.gif') no-repeat top right;}
/* Widget Bar */
#right {float:right; width:321px; margin:18px 23px 0 -362px; border-left:1px solid #ccc;}
#right .h3 {font:normal 170% georgia,serif;} /* required for valid ratings */
#right div.h3 div {display:inline; margin-top:3px;}
#right h3, #right .h3 {margin:10px 0 0 0; padding:8px 12px; background-color:#fff; border-bottom:1px solid #ddd; color:#6e7836;}
#right h3 a, #right .h3 a {text-decoration:none; color:#6e7836;}
#right h3 a:hover, #right .h3 a:hover {color:#369;}
#right .active {background-color:#94af66; color:#fff;}
/* boxes */
#right .box {background-color:#f2f2f2; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
#right .adm {border-bottom:1px solid #f7b4b4; color:#a30;}
#right .boxa {background-color:#ffe4e4; border-right:1px solid #f7b4b4; border-bottom:1px solid #f7b4b4;}
#right .boxa a {display:block; color:#000!important;}
#right .boxb a {display:inline!important;}
#right .boxb .submit {margin:10px 0;} #right .boxb select {margin-bottom:10px;} #right .boxb .checkbox {margin-left:5px;}
#right .download {background-color:#ecffe4; border-right:1px solid #c0f1a2; border-bottom:1px solid #c0f1a2; color:#1b1b1b;}
#right .download a {display:block; text-decoration:none; font-weight:bold; color:#387304;}
#right .restrict {background-color:#ffffd7; border-right:1px solid #dcdc41; border-bottom:1px solid #dcdc41;}
#right .admin img {margin:3px 2px 4px 0;}
#right h5 {margin-bottom:10px;}
#right label {display:block; cursor:pointer; height:16px; font-size:0.9em; line-height:13px;}
/* vote */
#poll h5 a {font:bold 1.1em arial; color:#555;}
#poll .comb {position:absolute; bottom:18px; right:40px;}
#poll .submit {
	position:absolute; bottom:19px; left:40px; width:100px; height:20px; padding:0 5px 2px 5px; cursor:pointer; border:none; 
	text-transform:uppercase; font:normal .8em verdana; color:#000; background:transparent url('img/button-vote.gif') no-repeat left top;
	}
#poll .submit:hover {background-position:left bottom;}
.scrabble a {padding:2px 6px; background-color:#f8ffe4; border:1px solid #e1edbc;} /* users */

/* CONTENT */
/* description - subtitle */
.details {margin-bottom:10px; padding-left:1px; font:normal 11px arial,sans-serif; color:#999;}
.details a {color:#666;}
/* you are here */
.breadcrumb {padding:5px 5px 10px 0; font-size:.9em; color:#666;}
.breadcrumb a {text-decoration:none; font-size:1.3em; color:#69c!important;}
.breadcrumb a:hover {color:#369!important;}
/* page */
.pagetext {border:1px solid #eee; padding:6px 10px;}
.pagetext input {cursor:pointer;}
.multi {padding-bottom:10px; border-bottom:1px solid #eee;}
.multi br {display:none;}
.multi a {
	text-decoration:none; font-weight:bold; margin-right:7px; padding:0 7px 0 0; 
	color:#363; border-right:3px solid #ddd;
	}
/* list */
.rowcat a {text-decoration:none; font:normal 1.7em georgia; color:#444;}
.rowcat img {margin:10px 0 16px 0; vertical-align:middle;}
.list-date {width:80px; border-right:1px solid #ececec; color:#639814;}
.list-title {font-size:.9em; text-align:left!important; border-right:1px solid #ececec; color:#888;}
.list-title a {display:block; font-weight:bold; font-size:1.1em;}
.list-title span {float:right;}
.list-comments {width:40px; padding-top:10px; border-right:1px solid #ececec;}
.list-comments a {
	padding:6px 12px 10px 12px; text-decoration:none; 
	background:transparent url('img/system/icon-comment.gif') no-repeat top center; color:#333;
	}
.list-comments a:hover {color:#888;}
.list-ratings {width:80px; padding-top:10px; border-right:1px solid #ececec;}
.list-views {width:85px; font-size:.9em; padding-top:9px;}
/* user_details.tpl */
.photo {float:left; margin:-5px 5px 5px 5px; padding:5px 5px 16px 5px; background:#fff; border:1px solid #ddd;}
.home a {padding:2px 0 2px 20px; background:transparent url('img/icon-home.gif') no-repeat left center;}
.msn a {padding:2px 0 2px 20px; background:transparent url('img/icon-msn.gif') no-repeat left center;}
/* members search */
.ssrh {padding-left:65px;}
.ssrh .text {width:361px;}
.ssrh .submit {
	width:auto!important; padding:0!important; background:none!important; border:none!important; 
	letter-spacing:.1em; font:bold 1em arial!important; color:#000!important;
	}
/* popup windows */
.popup {text-align:left;}
.popup h1 a {text-decoration:none; color:#000;}
.popup h4, .mt15 {margin-top:15px;}
.msg {width:50%; margin:50px auto; border:1px solid #ddd;} /* message.tpl */
.newpm {font-weight:bold; background-color:#fff;} /* unread pm background */
.mail a {display:block; color:#000;}

/* COMMENTS */
.comav, .comav-owner {position:absolute; top:0; left:0; margin-left:-52px; padding-right:20px;}
.comav {background:transparent url('img/comment-bubble-gray.gif') no-repeat center right;}
.comav-owner {background:url('img/comment-bubble-blue.gif') no-repeat center right;}
.comav img, .comav-owner img {width:32px;} /* small avatar */
.commentlist cite {font:bold 16px tahoma;} /* author */
.commenttext, .commenttext-owner {position:relative; float:left; width:83%; margin-left:52px; padding:5px 20px 10px 20px;}
.commenttext {background-color:#f6f6f6; border:1px solid #ccc; color:#1b1b1b;}
.commenttext-owner {background-color:#e4f1ff; border:1px solid #a2d4f1; color:#1b1b1b;}
.cominfo {color:#999; font-size:.8em;}
.cominfo .colright {margin-top:1px;}
.leave a {color:#cc1212!important;}
/* add a comment */
.comments {width:570px;}
.comments li {background:none!important; padding:4px 8px!important;}
.comments br, .pageadd br {display:none;}

/* --- FORUMS --- */
.jump {display:block; margin:9px 0 3px 0; font-size:.55em;}
/* SECTIONS */
.secrow {border-bottom:1px solid #ececec; padding-bottom:10px;}
.sc2, .sc3, .sc4, .sc5, .tc1, .tc2, .tc3 {vertical-align:middle;}
.sc1, .sc4, .tc1 {width:32px; margin-right:7px; text-align:center; border-right:1px solid #eee;}
.sc2 {width:270px; position:relative; margin-right:7px; padding-left:7px;}
.sc2 h3 span {font-family:verdana; font-size:.65em; color:#888;}
.sc2 div {margin-top:3px; width:50%; float:left;}
.sc2 div a {
	font-size:.9em; padding-left:22px; color:#444; 
	background:transparent url('../../images/admin/subfolder.png') no-repeat left center;
	}
.sc3 {padding-left:7px; border-left:1px solid #eee; border-right:1px solid #eee;}
.sc3 p, .tc2, .tc3 {font-size:.9em;}
.sc3 p a, .tc2 a {color:#444;}
.sc5 {width:70px; margin-right:7px; font-size:.9em; text-align:center;}
/* TOPICS */
.forums h3, .forums h4 {margin:0; font-size:1.4em;}
.forums h4 {font-weight:normal; font-size:1.2em;}
.forums h3 a, .forums h4 a {text-decoration:none; color:#333;}
.forums h3 a:hover, .forums h4 a:hover {text-decoration:underline!important;}
/* sorting options */
.topsort {font-size:.9em; border-bottom:1px solid #ececec; background-color:#ececec;}
.topsort a {text-decoration:none;}
/* topic row */
.toprow {border-bottom:1px solid #ececec; border-right:1px solid #ececec; border-left:1px solid #ececec;}
.tc2 {width:210px;}
.tc3 {width:45px; text-align:center; border-left:1px solid #eee;}
 
/* POSTS */
.post {padding:10px 0; border-bottom:1px solid #eee;}
/* post author */
.post h4 {display:inline; float:left;}
.post h4 a {text-decoration:none;}
.post h4 a:hover {text-decoration:underline;}
/* post date */
.postinfo {margin-bottom:4px; color:#ccc;}
.postinfo strong {padding:2px 2px; font-size:.9em; color:#666;}
.postinfo a {font-size:.9em; color:#777;}
/* actual post */
.postxt {padding-left:90px; color:#333;}
.postbox {background-color:#f6f6f6; border:1px solid #ccc;}
.postbox-owner {background-color:#f1f9ff; border:1px solid #a2d4f1;}
.postbox div, .postbox-owner div {font-size:.9em; line-height:1.8em;}
.postxt img {vertical-align:middle;}
.postxt blockquote {margin:5px 0;}
.postbox p, .postbox-owner p {margin-top:10px; padding-top:5px; font-size:.8em; color:#999;} /* updated by */
.postxt p {margin-top:7px; text-align:right;} /* action buttons */
/* user info */
.posusr {width:90px; float:left; line-height:normal; font-size:.8em;}
/* avatar */
.avatarious {position:relative; width:84px; height:84px; padding:2px 0 0 2px;}
.avatarious img {width:80px; height:80px;} /* force avatar to be 80x80 */
.avatar_border {width:84px; height:84px; background:transparent url('img/avatar-border.gif') no-repeat top left;} /* rounded border */
/* signature */
.sig {padding-left:10px; font-size:.8em; color:#999;}
/* username colors by usergroup */
.ug3 a {color:#eee!important; text-decoration:line-through;} /* banned */
.ug4 a {color:#282828!important;} /* member */
.ug5 a {color:#d51007!important;} /* admin */
.ug6 a {color:#8eac2a!important;} /* moderator */
/* icons legend */
.legend {margin:20px 0 15px 0; padding:5px 10px; text-align:center; font-size:11px; color:#999;}
.legend img {vertical-align:middle;}

/* BUTTONS */
.more, .comm, .commv, .vote {cursor:pointer; vertical-align:middle; display:block;/*opera*/ display:inline-block;/*ie*/}
.more span, .comm span, .commv span, .vote span {display:block; display:inline-block;}
.more {line-height:24px; padding-right:14px; background:transparent url('img/button-gray.png') no-repeat right top;}
.more span {
	height:28px; line-height:28px; padding-left:14px; 
	background:transparent url('img/button-gray.png') no-repeat left top;
	}
a.more, a.comm, a.commv, a.vote {color:#1b1b1b!important; font-weight:normal!important; text-decoration:none!important;}
a.more:hover, a.comm:hover, a.commv:hover, a.vote:hover {text-decoration:none!important; color:#000;}
a.more:hover {background:transparent url('img/button-gray.png') no-repeat right bottom;}
a.more:hover span {background:transparent url('img/button-gray.png') no-repeat left bottom;}
.comm {line-height:28px; padding-right:14px; background:transparent url('img/button-gold.png') no-repeat right top;}
.comm span {
	height:28px; line-height:28px; padding-left:14px; 
	background:transparent url('img/button-gold.png') no-repeat left top;
	}
a.comm:hover {background:transparent url('img/button-gold.png') no-repeat right bottom;}
a.comm:hover span {background:transparent url('img/button-gold.png') no-repeat left bottom;}
.login {padding:5px 0; border:none; text-transform:uppercase; font:bold 12px tahoma; background:none; color:#b1f462;}
.login:hover, .login:focus { color: #8ef515; cursor: pointer; }
.commv {
	line-height:20px; padding-right:34px; text-transform:uppercase; 
	font-size:10px; background:transparent url('img/button-gray-small.gif') no-repeat right top;
	}
.commv span {
	height:20px; line-height:20px; padding-left:33px;
	background:transparent url('img/button-gray-small.gif') no-repeat left top;
}
a.commv:hover {background:transparent url('img/button-gray-small.gif') no-repeat right bottom;}
a.commv:hover span {background:transparent url('img/button-gray-small.gif') no-repeat left bottom;}
.vote {
	line-height:20px; padding-right:14px; text-transform:uppercase; 
	font-size:10px; background:transparent url('img/button-gold-small.gif') no-repeat right top;
	}
.vote span {
	height:20px; line-height:20px; padding-left:13px;
	background:transparent url('img/button-gold-small.gif') no-repeat left top;
	}
a.vote:hover {background:transparent url('img/button-gold-small.gif') no-repeat right bottom;}
a.vote:hover span {background:transparent url('img/button-gold-small.gif') no-repeat left bottom;}

/* PAGINATION */
.paging, .pagenav {padding:6px 0 6px 6px; text-align:right; font-size:.9em;}
.pagenav_small {text-align:right; font-size:.8em;}
.paging a {margin-left:2px; padding:3px 6px; text-decoration:none;}
.pagenav_prev, .pagenav_next {padding:3px 4px; font-weight:bold; color:#888;}
.pagenav_prev a, .pagenav_next a {border:none;}
.pagenav_first a, .pagenav_last a {color:#aaa;}
.pagenav_pages a {border:1px solid #ddd;}
.pagenav_pages a:hover {border:1px solid #0187c5;}
.pagenav_current a {padding:4px 6px; font-weight:bold; border:none; color:#d51007;}
.pagingfloat {float:right; width:40%;}

/* misc links */
#user a, #footer a, .administrator a, .comments a, .leave a, .commentlist a, 
.pageadd a, #whosonline a, .tabcontent a, #poll a, #members a, #left h2 a, .nou a {text-decoration:none;}
#user a:hover, #poll a:hover, #members a:hover, #footer a:hover, 
.pageadd a:hover, #whosonline a:hover, .tabcontent a:hover {text-decoration:underline;}
#members a {color:#000;}
#bot a, .comments a, .pageadd a, .admin a, #powered {color:#777!important;}

/* PAGE SPECIFIC FORMS */
.whitee input, .whitee select {
	background-color:#fff; color:#666; 
	border-top:1px solid #7c7c7c; border-left:1px solid #c3c3c3; border-bottom:1px solid #ddd; border-right:1px solid #c3c3c3;
	}
.whitee select, .radio, .whitee checkbox {cursor:pointer;}
fieldset div .radio, fieldset div .checkbox, .remember input {width:auto; background:none; cursor:pointer; border:none;}
fieldset div .checkbox {padding-top:5px;}
.pageadd li {background:none!important; padding:1px!important;}
.mini li {background:none!important; padding:1px!important;}
.pageadd li.markItUpSeparator, .mini li.markItUpSeparator {display:none;}
.hint {font:normal .9em tahoma; color:#888;}
.point input {cursor:pointer;}
/* publish */
.submit, .whitee .submit, .submit input {
	padding:1px 0 3px 0; width:98px; height:21px; border:none; cursor:pointer; font:bold 1em verdana; 
	color:#fff; background:transparent url('img/button.gif') no-repeat top left;
	}
.submit:hover {background-position:0 -21px; color:#eee;}
.submit:focus {background-position:0 -42px; color:#eee;}
.undo {border:none!important; background:transparent!important; cursor:pointer; font:bold .9em verdana; color:#3b3b3b!important;}
input.file {border:none; cursor:pointer;}

/* Footer */
#bott {height:350px; background:#fff url('img/bg-bottom.png') top left repeat-x;}
#footer {height:350px; font:normal 12px arial; color:#888;}
#footer a {color:#55a7d5;}
#footinfo {position:absolute; top:140px; left:20px; width:320px; line-height:20px; font-size:14px;}
#footinfo a {font-size:12px;}
#footsearch {
	width:275px; height:26px; margin:30px auto 5px auto; text-align:left; position:relative; 
	background:transparent url('img/footer-search.gif') top left no-repeat;
	}
#footsearch .sq {width:175px; height:20px; padding:0 0 0 25px; color:#999;}
#footsearch .sb {
	position:absolute; top:0; right:5px; width:60px; padding:4px 0 0 0; 
	font:bold 12px tahoma; color:#fff;
	}
.adv {
	position:absolute; top:28px; right:8px; text-transform:uppercase; 
	font:normal 9px tahoma!important; color:#696969!important;
	}
.footer_box {width:163px; margin:0 0 0 25px;}
#footer h6 {
	width:163px; height:38px; margin-bottom:8px; padding:10px 0 0 20px; 
	background:transparent url('img/footer-heading.gif') top left no-repeat; font:normal 12px verdana; color:#aaa;
	}
#footer h6 span {display:block; padding:5px 0 7px 40px; background-position:left center; background-repeat:no-repeat;}
.icon_contact {background-image:url('img/icon-contact.gif');}
.icon_download {background-image:url('img/icon-download.gif');}
.icon_donate {background-image:url('img/icon-donate.gif');}
#footer ul li, .readmore a {padding:3px 15px; background:transparent url('img/footer-arrow.gif') no-repeat 2px 6px;}
.footer_divider {
	position:absolute; top:97px; left:372px; width:2px; height:198px; overflow:hidden; 
	background:transparent url('img/footer-divider.gif') no-repeat top left;
	}
#powered {
	position:absolute; top:60px; right:30px; text-transform:uppercase; 
	font:normal 9px tahoma, sans-serif;
	}
#top {
	position:absolute; bottom:55px; right:30px; width:91px; height:20px; 
	text-align:center; text-transform:uppercase; font:normal 9px tahoma, sans-serif;
	}
#top a {
	display:block; height:20px; line-height:24px; text-decoration:none; 
	background:transparent url('img/footer-top.gif') 0 2px no-repeat; color:#161616!important;
	}
#top a:hover {text-decoration:none!important; background:transparent url('img/footer-top.gif') top left no-repeat; color:#111;}
#bot {position:absolute; bottom:18px; left:0; width:100%; font:normal 11px tahoma; color:#444;}
.icon_valid {
	position:relative; padding:3px 0 3px 24px; font-size:9px; 
	background:transparent url('img/icon-valid.gif') top left no-repeat; color:#333!important;
	}

/* MISC CLASSES */
.clear {clear:both;}
.none, .noimg img {display:none;}
.relative {position:relative;}
.abs0 {position:absolute; top:0; left:0;}
.bbeee {border-bottom:1px solid #eee; padding-bottom:15px!important;}
/* float and align */
.fleft {float:left;}
.fright {float:right;}
.colleft {float:left; margin:10px 10px 0 0;}
.colright {float:right; margin:10px 0 0 10px;}
.centerimg img {vertical-align:middle;}
.right {text-align:right;}
/* spacing */
.margin5 {margin:5px;}
.mtb5 {margin:5px 0;}
.padding5 {padding:3px 6px;}
.padding10 {padding:8px 11px;}
.padding15 {padding:13px 16px;}
.padding20 {padding:18px 21px;}
/* more readable tabular data */
.odd {background-color:#f6f6f6!important;}
.even {background-color:#fafafa!important;}
/* percentage bar */
.bar_front {height:4px; overflow:hidden; background-color:#ffad2f;}
.bar_back {height:4px; overflow:hidden; background-color:#ddd; border-bottom:1px solid #fff; border-top:1px solid #ccc;}
/* colors */
.lightgray {color:#bbb;}
.gray {color:#888;}
.orange {color:#e79410;}
.red {color:#CC1212;}
.black {color:#000!important;}
/* font size */
.small {font-size:75%;}
.fs9 {font-size:.9em;}
.fs8 {font-size:.8em;}

/* ADMIN */
#adminmenu {padding-left:10px; margin:15px 0; font-weight:bold; border-bottom:1px solid #ccc;}
#adminmenu li {float:left; margin-left:1px; padding:0!important; background:none!important;}
#adminmenu li a {
	float:left; display:block; height:40px; line-height:40px; padding:0 20px; 
	text-decoration:none; background-color:#f1f1f1; color:#333;
	}
#adminmenu li a b {text-transform:uppercase;}
#adminmenu li a:hover, #adminmenu .current {background-color:#ccc; color:#000;}

/* HARDCODED */
.error {
	padding:24px 8px 24px 8px; text-align:center; font-weight:bold; 
	font-size:110%; color:#CC1212;
	}
pre, .code {
	overflow:auto; margin:5px 0; padding:2px 6px; font-family:monospace; 
	background-color:#fff; color:#009; border:1px solid #d6d6d6; border-left:39px solid #d6d6d6;
	}
.spoiler {margin:8px 0 0 0; padding:4px 8px; font-size:.9em; border:1px dashed #ccc; color:#333;}
.searchhighlight {background-color:#ef0;}
.coltop {padding:5px 0; height:25px; vertical-align:middle; font-weight:bold; color:#555;}
.desc {padding:3px; font-size:95%; color:#646464;}
.bbcodes a img, .smilies a img {border:0; background-color:transparent;}
.loading {position:relative; left:45%; top:-50px; z-index:99;}
/* tables */
table td {vertical-align:top;}
table.cells {width:100%;}
table.cells td {text-align:left!important;}

/* PLUGINS */
/* tags */
.indextags {border:1px solid #ddd; background-color:#fafafa;}
.indextags .tag_cloud {display:inline!important;}
.tag_cloud a {padding:0 2px; text-decoration:none;}
.tag_cloud a.xs:hover, .tag_cloud a.s:hover, .tag_cloud a.m:hover, .tag_cloud a.l:hover, .tag_cloud a.xl:hover {color:#000;}
.tag_cloud a.xs {font-size:10pt; color:#c4c4c4;}
.tag_cloud a.s {font-size:12pt; color:#336699;}
.tag_cloud a.m {font-size:14pt; color:#A0522D;}
.tag_cloud a.l {font-size:16pt; color:#666;}
.tag_cloud a.xl {font-size:18pt; color:#aad815;}
/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel, div.star-rating {float:left; width:17px; height:15px; text-indent:-999em; cursor:pointer; display:block; overflow:hidden;}
div.rating-cancel, div.rating-cancel a {background:transparent url('img/system/delete.gif') no-repeat 0 -16px;}
div.star-rating, div.star-rating a {background:transparent url('img/system/star.gif') no-repeat 0 0px;}
div.rating-cancel a, div.star-rating a {display:block; width:16px; height:100%; background-position:0 0; border:0; font-size:0;}
div.star-rating-on a {background-position:0 -16px !important;}
div.star-rating-hover a {background-position:0 -32px;}
div.star-rating-readonly a {cursor:default!important;} /* read only rating */
div.star-rating {background:transparent!important; overflow:hidden!important;} /* partial star */
.rating_submit {margin-top:-3px; cursor:pointer; font:bold .75em tahoma; color:#c00;}
/* markitup */
.markItUp {width:100%; border:none;}
.markItUpContainer, .markItUpEditor, .markItUpPreviewFrame, .markItUpHeader ul ul, .markItUpHeader ul ul li {border-color:#ddd;}
.markItUp .palette ul {width:110px;}
.markItUp .palette ul li, .markItUpHeader ul ul li {padding:0!important;}
.markItUpHeader ul ul a:hover {text-decoration:none!important; background-color:#fff; color:#444;}
.markItUpHeader ul ul {top:23px;}
.markItUpEditor {
	width:96%; padding:10px; 
	background:#fff url('../../plugins/markitup/skins/markitup/images/bg-editor.png') repeat-x top left;
	}