# Files which should be ignored by Git
config.php
urltrans.dat
avatars/*
!avatars/index.html
cache/*
!cache/.htaccess
!cache/index.html
exflds/*
!exflds/index.html
photos/*
!photos/index.html
thumbs/*
!thumbs/index.html
users/*
!users/index.html
!/photos/
!/thumbs/
!/users/